<div data-ng-controller="contactController as vm">
    <!--Contact Details-->
    <h2 class="page-header">Contact Us</h2>

    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group" style="padding-left:0;">
                    <label for="selectContact">Question Type</label>
                    <select class="form-control"
                            name="selectContact"
                            data-ng-model="vm.selectedContact"
                            data-ng-options="cat.name for cat in vm.contactCategories track by cat.value">
                        <option value="">Concerned About (Select One)</option>
                    </select>

                </div>
                <div class="form-group">
                    <label for="message">Your Message</label>
                    <textarea name="message" data-ng-model="vm.mailContent" class="form-control" rows="8"></textarea>
                </div>
                <div class="text-right">
                    <button type="button"
                            class="btn btn-lg btn-cust"
                            data-ng-click="vm.sendMail()"
                            data-ng-disabled="vm.selectedContact == '' || vm.mailContent.length == 0 || vm.selectedContact.value == ''">
                        Send
                    </button>
                </div>
            </form>
        </div>
        
        <div class="col-md-6">
            <div class="col-sm-6" ng-repeat="contact in vm.contacts">
                <div style="margin-bottom:30px">
                    <h3 class="section-header">{{contact.title}}</h3>
                    <label>Email:&nbsp;</label><span>{{contact.email}}</span><br/>
                    <label>Call:&nbsp;</label><span>{{contact.phone}}</span>
                </div>
            </div>
        </div>
    </div>
    
    <!--//Row-->
</div>
<!--//Contact Details-->
