<input type="text" name="agentAutocomplete" class="form-control {{vm.disabledCssClass}}" placeholder="{{vm.placeholder}}" 
        ng-model="vm.searchValue[vm.searchMode]" 
        ng-change="vm.valueChanged();"
        title="{{vm.searchValue[vm.searchMode]}}"
        ng-disabled="vm.searchValue['disableInput'] === true"
        ng-skip-blur-validation="true"
        typeahead="agent as (vm.searchMode == 'name' ? agent.agentAndAgencyInfo : agent.code) for agent in vm.getAgents($viewValue)"
        typeahead-wait-ms="300"
        typeahead-select-on-exact="true"
        typeahead-select-on-blur="true"
        typeahead-focus-on-select="true"
        typeahead-on-select="vm.agentSelected($item, $model, $label);" 
       />