<div class="table-responsive">
    <table id="customerSearchResultTable" class="table table-striped" style="border: 0;">
        <thead>
            <tr class="table-header">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th><button type="button" class="close" style="opacity: 4;color: white;" data-dismiss="modal" data-ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="row in customers">
                <td>
                    <a href="#" data-ng-click="selectCustomer(row)">{{ row.firstName }}</a>
                </td>
                <td>
                    {{row.lastName}}
                </td>
                <td colspan="2">
                    {{row.email}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
