<div class="modal fade" id="{{modalId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Product Not Available</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group" id="mode-group" data-toggle="buttons">
                    <span class="fa fa-exclamation-circle fa-icon-medium fa-icon-error"></span>&nbsp;&nbsp;Your agency does not have the required license(s) necessary to receive commission for residents of {{residenceLocation}}.
                    <div>
                        <ol>
                            <li>Continue transaction without receiving compensation</li>
                            <li ng-if="showsendquote">Send Quote so customer can purchase</li>
                            <li>Abandon Policy</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-ng-repeat="button in modalbuttons" class="{{modalbuttons[$index].style}}" data-dismiss="modal" data-ng-click="modalbuttons[$index].action()">{{modalbuttons[$index].name}}</button>
            </div>
        </div>
    </div>
</div>