<style>
    .flyout-selector {
        position: fixed;
        left: 200px;
        height: 61px;
        width: 300px;
        top: 130px;
        display: block;
        z-index:10;
    }
    .out-of-view {
        visibility: hidden;
    }

    .in-view {
        visibility: visible;
    }

    
</style>
<section ng-show="rootModel.isLoggedIn() && rootModel.isReady()" data-ng-controller="sideBarController as vm">
    <ul class="nav nav-sidebar">
        <li data-ng-class="vm.getClass(route)" data-ng-repeat="route in vm.navRoutes">
            <a href="javascript:void(0);" ng-click="vm.executeResponsibility(route)" id="side-nav-{{route.title}}">
                <span data-ng-class="route.glyph"></span>
                <span class="left-nav-item hidden-sm">{{route.title}}</span>
            </a>
            <ul class="nav-sub nav-sidebar-sub" style="font-size:smaller;" ng-if="route.subRoutes" ng-show="route.expanded">
                <li data-ng-class="vm.getSubClass(subroute)" data-ng-repeat="subroute in route.subRoutes">
                    <a href="javascript:void(0);" ng-click="vm.executeResponsibility(subroute)" id="side-nav-{{subroute.title}}">
                        <span style="margin-right:30px;">&nbsp;</span>
                        <span class="left-nav-item hidden-sm">{{subroute.title}}</span>
                        <span class="right-selector">&nbsp;</span>
                    </a>
                </li>
            </ul>
            <select ng-if="route.title == 'Products'" id="flyout-state-selector" class="flyout-selector out-of-view" state-select-persister ng-model="vm.selectedState" ng-change="vm.afterStateSelectionNavTo(route)" autocomplete="false">
                <option value="">-- Select a State --</option>
                <option ng-repeat='item in vm.lookups.states' value={{item.code}}>{{item.name}}</option>
            </select>
        </li>
    </ul>
</section>
