<header ng-show="rootModel.isLoggedIn() && rootModel.isReady()">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <a href="/dashboard"><div class="logo bhtp-logo fa-4x"></div></a>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="visible-md visible-lg navbar-brand app-header">Agent Dashboard &nbsp;&nbsp;|&nbsp;&nbsp; <span class="name">{{rootModel.getAgent().accountName}}</span></a>
                    <a class="visible-sm navbar-brand app-header">
                        <div>
                            {{rootModel.getAgent().accountName}}
                        </div>
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" ng-controller="sideBarController as vm">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-hide="$root.isCustomSession" class="visible-xs"><a ng-click="vm.collapse($event);" ui-sref="dashboard"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;Dashboard</a></li>
                        <li ng-hide="$root.isCustomSession" class="visible-xs"><a ng-click="vm.collapse($event);" ui-sref="products"><i class="fa fa-file-text"></i>&nbsp;&nbsp;Products</a></li>
                        <li ng-hide="$root.isCustomSession" class="visible-xs"><a ng-click="vm.collapse($event);" ui-sref="purchase"><i class="fa fa-credit-card"></i>&nbsp;&nbsp;Purchase</a></li>
                        <li ng-hide="$root.isCustomSession" class="visible-xs"><a ng-click="vm.collapse($event);" ui-sref="quotes"><i class="fa fa-folder"></i>&nbsp;&nbsp;Quotes</a></li>
                        <li ng-hide="$root.isCustomSession" class="visible-xs"><a ng-click="vm.collapse($event);" ui-sref="customers"><i class="fa fa-user"></i>&nbsp;&nbsp;Customers</a></li>
                        <li ng-hide="$root.isCustomSession" class="visible-xs"><a ng-click="vm.collapse($event);" ui-sref="policies"><i class="fa fa-file-text"></i>&nbsp;&nbsp;Policies</a></li>
                        <li ng-hide="$root.isCustomSession" class="visible-xs"><a ng-click="vm.collapse($event);" ui-sref="training"><i class="fa fa-tasks"></i>&nbsp;&nbsp;Training</a></li>
                        <li ng-hide="$root.isCustomSession" class="visible-xs"><a ng-click="vm.collapse($event);" ui-sref="banners"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Banner Ads</a></li>
                        <li ng-hide="$root.isCustomSession" class="visible-xs" ng-if="vm.agent.isSuperUser"><a ng-click="vm.collapse($event);" ui-sref="adminManageAgents"><i class="fa fa-cog"></i>&nbsp;&nbsp;Manage Agents</a></li>
                        <li ng-hide="$root.isCustomSession" class="visible-xs" ng-if="vm.agent.isSuperUser"><a ng-click="vm.collapse($event);" ui-sref="adminPolicyManagement"><i class="fa fa-cog"></i>&nbsp;&nbsp;Upload Policies</a></li>
                        <li ng-hide="$root.isCustomSession" class="visible-xs"><a ng-click="vm.collapse($event);" ui-sref="faq"><i class="glyphicon glyphicon-list"></i>&nbsp;&nbsp;FAQ</a></li>
                        <li ng-hide="$root.isCustomSession" class="hidden-xs"><a ng-click="vm.collapse($event);" ui-sref="faq" style="border:0px"><i class="glyphicon glyphicon-list"></i>&nbsp;&nbsp;FAQ</a></li>
                        <li ng-hide="$root.isCustomSession" class="visible-xs" ng-if="!vm.agent.isAmbassador"><a ng-click="vm.collapse($event);" ui-sref="contact"><i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;Contact</a></li>
                        <li ng-hide="$root.isCustomSession" class="hidden-xs" ng-if="!vm.agent.isAmbassador"><a ng-click="vm.collapse($event);" ui-sref="contact" style="border:0px"><i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;Contact</a></li>
                        <li class="hidden-sm hidden-xs" dropdown>
                            <a href="#" class="dropdown-toggle" dropdown-toggle style="border:0px"><i class="fa fa-user"></i>&nbsp;&nbsp;{{rootModel.getAgent().firstName}}  {{rootModel.getAgent().lastName}}&nbsp;&nbsp;<span ng-hide="$root.isCustomSession" class="caret"></span></a>
                            <ul ng-hide="$root.isCustomSession" class="dropdown-menu" role="menu">
                                <li><a ui-sref="profile"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Profile</a></li>
                                <li class="divider"></li>
                                <li><a ui-sref="logout"><i class="glyphicon glyphicon-off"></i>&nbsp;&nbsp;Logout</a></li>
                            </ul>
                        </li>
                        <li ng-hide="$root.isCustomSession" class="divider visible-xs"></li>
                        <li ng-hide="$root.isCustomSession" class="visible-xs"><a ng-click="vm.collapse($event);" href="profile"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Profile</a></li>
                        <li ng-hide="$root.isCustomSession" class="divider visible-xs"></li>
                        <li ng-hide="$root.isCustomSession" class="visible-xs"><a ng-click="vm.collapse($event);" href="logout"><i class="glyphicon glyphicon-off"></i>&nbsp;&nbsp;Logout</a></li>
                    </ul>
                </div>
</div>
    </div>
</header>
