<div>

    <!-- display coverages and limits with limit on separate line -->
    <div class="row" ng-if="vm.mode === 'quote'">
        <div class="col-md-12">
            <span class="inccoverages">
                {{vm.coverage.name}}
                <a href="#" data-ng-click="vm.showCoverageDetails()"><span class="fa fa-question-circle fa-icon-medium"></span></a>
            </span>
            <span class="inccoverageslimit">
                {{vm.formatCoverage()}}
            </span>
        </div>
    </div>

    <!-- display coverages, limits, and descriptions -->
    <div ng-if="vm.mode === 'drawer'">
        <div class="row">
            <div class="col-xs-4">
                <span class="inccoverages">{{vm.coverage.name}}</span>
            </div>
            <div class="col-xs-6">
                <span>{{vm.coverage.description}}</span>
            </div>
            <div class="col-xs-2">
                <span class="text-right">{{vm.formatCoverage()}}</span>
            </div>
        </div>
        <hr ng-if="vm.lastCoverage === false" />
    </div>

    <!-- display coverages and limits on same line -->
    <div ng-if="vm.mode === 'receipt'">
        <div class="row">
            <span class="col-md-8 inccoverages">
                {{vm.coverage.name}}
            </span>
            <span class="col-md-4 inccoverageslimit">
                {{vm.formatCoverage()}}
            </span>
        </div>
        <div ng-if="vm.coverage.acknowledgements && vm.coverage.acknowledgements.length > 0" class="row receipt-acknowledgement">
            <view-acknowledgements acknowledgements="vm.coverage.acknowledgements">
            </view-acknowledgements>
        </div>
        <hr />
    </div>
</div>
