<style>
    .hover-underline:hover {
        text-decoration: underline !important;
    }
</style>

<section data-ng-controller="profileController as vm">
    <div>
        <div class="row page-header">
            <div class="col-xs-8 col-md-6"><h2>{{vm.title}}</h2></div>
            <div class="col-xs-4 col-md-6 edit-action-btn" data-ng-hide="vm.editMode">
                <button type="submit" class="btn btn-lg btn-primary btn-cust" data-ng-click="vm.editProfile()">Edit</button>
            </div>
            <div data-ng-show="vm.editMode">
                <div class="col-md-6 edit-action-btn">
                    <button type="submit" class="btn btn-lg btn-default btn-cust-sec" data-ng-click="vm.cancelEdit()">Cancel</button>
                    <button type="submit" class="btn btn-lg btn-primary btn-cust" data-ng-click="vm.saveProfile()" data-ng-disabled="agentAdddressForm.$invalid">Save</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4>Agent Details</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>Name</label>
                <p class="field">{{vm.agent.firstName}} {{vm.agent.lastName}}</p>
            </div>
            <div class="col-sm-6">
                <label>Agent ID</label>
                <p class="field">{{vm.agent.agentCode}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>Agency</label>
                <p class="field">{{vm.agent.accountName}}</p>
            </div>
            <div class="col-sm-6">
                <label>Email Address</label>
                <p class="field">{{vm.agent.emailAddress}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label>Password</label>
                <p class="field"><a href="#" class="hover-underline" style="text-decoration:none;color:#000000;" data-ng-click="vm.editPassword()">Edit</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <input type="checkbox" name="copyMe" id="copyMe" class="custom-checkbox" data-ng-model="vm.agent.copyMe" disabled data-ng-if="!vm.editMode" />
                <input type="checkbox" name="copyMe" id="copyMe" class="custom-checkbox" data-ng-model="vm.updatedAgent.copyMe" data-ng-if="vm.editMode" />
                <label for="copyMe" class="checkbox-label" ng-class="{ 'disabled': !vm.editMode }">
                    Copy me on policy details and reminders
                </label>
            </div>
        </div>
        <hr />

        <div id="contactForm">
            <h4>Contact Information</h4>
            <div class="row">
                <div class="col-sm-6">
                    <form role="form" name="agentAdddressForm">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label for="street">Address</label>
                                <p data-ng-hide="vm.editMode" class="form-control-static">{{vm.agent.address.street}}</p>
                                <div data-ng-show="vm.editMode">
                                    <input name="street" class="form-control" data-ng-model="vm.updatedAgent.address.street" required />
                                    <div data-ng-show="agentAdddressForm.street.$invalid && agentAdddressForm.street.$touched">
                                        <span class="help-block haserrorfieldlevel" data-ng-show="agentAdddressForm.street.$error.required">Address is required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="city">City</label>
                                <p data-ng-hide="vm.editMode" class="form-control-static">{{vm.agent.address.city}}</p>
                                <div data-ng-show="vm.editMode">
                                    <input name="city" class="form-control" data-ng-model="vm.updatedAgent.address.city" required />
                                    <div data-ng-show="agentAdddressForm.city.$invalid && agentAdddressForm.city.$touched">
                                        <span class="help-block haserrorfieldlevel" data-ng-show="agentAdddressForm.city.$error.required">City is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="stateOrProvince">State</label>
                                <p data-ng-hide="vm.editMode" class="form-control-static">{{vm.agent.address.stateOrProvince}}</p>
                                <div data-ng-show="vm.editMode">
                                    <select name="stateOrProvince" class="form-control" data-ng-model="vm.updatedAgent.address.stateOrProvince" required
                                            data-ng-options="state.code as state.code for state in vm.lookup.states"></select>
                                    <div data-ng-show="agentAdddressForm.stateOrProvince.$invalid && agentAdddressForm.stateOrProvince.$touched">
                                        <span class="help-block haserrorfieldlevel" data-ng-show="agentAdddressForm.stateOrProvince.$error.required">State is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="postalCode">Postal Code</label>
                                <p data-ng-hide="vm.editMode" class="form-control-static">{{vm.agent.address.postalCode}}</p>
                                <div data-ng-show="vm.editMode">
                                    <input name="postalCode" class="form-control" data-ng-model="vm.updatedAgent.address.postalCode" required data-valid-zip-code="" />
                                    <div data-ng-show="agentAdddressForm.postalCode.$invalid && agentAdddressForm.postalCode.$touched">
                                        <span class="help-block haserrorfieldlevel" data-ng-show="agentAdddressForm.postalCode.$error.required">Postal Code is required.</span>
                                        <span class="help-block haserrorfieldlevel" data-ng-show="agentAdddressForm.postalCode.$error.validZip">Please enter a valid 5-digit postal code.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="phoneNumber">Phone Number</label>
                                <p data-ng-hide="vm.editMode" class="form-control-static">{{vm.agent.phoneNumber | phoneNumber}}</p>
                                <div data-ng-show="vm.editMode">
                                    <input name="phoneNumber" class="form-control" data-ng-model="vm.updatedAgent.phoneNumber" bhtp-mask="{{vm.phoneMask}}"
                                           required data-valid-phone-number-agent />
                                    <div data-ng-show="agentAdddressForm.phoneNumber.$invalid && agentAdddressForm.phoneNumber.$touched">
                                        <span class="help-block haserrorfieldlevel" data-ng-show="agentAdddressForm.phoneNumber.$error.required">Phone Number is required.</span>
                                        <span class="help-block haserrorfieldlevel" data-ng-show="agentAdddressForm.phoneNumber.$error.validPhone">Please enter a valid phone number.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
