<br />

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-2">
            <button id="btn_previous_ac" class="btn btn-lg btn-cust" data-ng-show="vm.step > vm.minStep" data-ng-click="vm.previous(stepForm)">
                <span class="fa fa-arrow-circle-left navleftarrow"></span>&nbsp;Previous
            </button>
        </div>
        <div class="col-xs-8 navright">
            <button id="btn_saveQuote_ac" class="btn btn-lg btn-cust-sec" ng-if="vm.step != 1"
                    ng-disabled="vm.state.generatedQuote != null || (vm.state.quote != null && vm.state.priceQuote == null)" type="button" data-ng-click="vm.saveQuote(aircareForm)">
                Save Quote
            </button>
            <button id="btn_emailQuote_ac" class="btn btn-lg btn-cust-sec" ng-if="vm.step != 1" data-ng-show="vm.canEmailQuote()" type="button" data-ng-click="vm.emailQuote(aircareForm)">
                Email Quote
            </button>
        </div>

        <div class="col-xs-2" ng-if="vm.step != vm.maxStep">
            <button id="btn_next_ac" class="btn btn-lg btn-cust"
                    data-ng-click="vm.next(stepForm)">
                Next&nbsp;<span class="fa fa-arrow-circle-right navrightarrow"></span>
            </button>
        </div>
    </div>
</div>