<ng-form name="travelerAddressForm">
    <div ng-form="stepForm">
        <div ng-show="vm.step === vm.tabs.aircare.address">
            <div ng-show="vm.step === vm.tabs.aircare.address" ng-include="'app/purchase/aircare/aircare.steps.html'"></div>

            <h4>Traveler Address</h4>
            <div ng-form="addressForm">
                <div class="row">
                    <div class="col-lg-11 col-md-12">
                        <div class="row">
                            <div class="form-group col-md-8 col-sm-9">
                                <label>Address Line 1</label>
                                <input name="addressLine1" class="form-control" data-ng-model="vm.state.traveler.address.address1" required ng-maxlength="50" />
                                <div data-ng-show="addressForm.addressLine1.$invalid && addressForm.addressLine1.$touched">
                                    <span class="help-block haserrorfieldlevel" data-ng-show="addressForm.addressLine1.$error.required" ng-bind="vm.errors.traveler.address1.req"></span>
                                    <span class="help-block haserrorfieldlevel" data-ng-show="addressForm.addressLine1.$error.maxlength">Max length for Address is 50 characters</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8 col-sm-9">
                                <label>Address Line 2</label>
                                <input name="addressLine2" class="form-control" data-ng-model="vm.state.traveler.address.address2" ng-maxlength="50" />
                                <div data-ng-show="addressForm.addressLine2.$invalid && addressForm.addressLine2.$touched">
                                    <span class="help-block haserrorfieldlevel" data-ng-show="addressForm.addressLine2.$error.maxlength">Max length for Address is 50 characters</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 col-sm-4">
                                <label>City</label>
                                <input name="city" class="form-control" data-ng-model="vm.state.traveler.address.city" required ng-maxlength="40" />
                                <div data-ng-show="addressForm.city.$invalid && addressForm.city.$touched">
                                    <span class="help-block haserrorfieldlevel" data-ng-show="addressForm.city.$error.required" ng-bind="vm.errors.traveler.city.req"></span>
                                    <span class="help-block haserrorfieldlevel" data-ng-show="addressForm.city.$error.maxlength" ng-bind="vm.errors.traveler.city.length"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-2 col-sm-3">
                                <label>State</label>
                                <input name="state" class="form-control" data-ng-model="vm.state.traveler.address.state" data-ng-disabled="true" />
                            </div>
                            <div class="form-group col-md-2 col-sm-2">
                                <label>Postal Code</label>
                                <input name="postalCode" class="form-control" data-ng-model="vm.state.traveler.address.postalCode" required data-valid-zip-code="" data-state="vm.state.traveler.address.stateOrProvince"
                                       bhtp-mask="{{vm.postalCodeMask}}" />
                                <div data-ng-show="addressForm.postalCode.$invalid && addressForm.postalCode.$touched">
                                    <span class="help-block haserrorfieldlevel" data-ng-show="addressForm.postalCode.$error.required" ng-bind="vm.errors.traveler.postalCode.req"></span>
                                    <span class="help-block haserrorfieldlevel" data-ng-show="addressForm.postalCode.$error.validZip" ng-bind="vm.errors.traveler.postalCode.valid"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Policy Buyer -->
            <policy-buyer-switch
                initial-value="vm.state.primaryTravelerIsPolicyBuyer"
                on-state-changed="vm.policyBuyerSwitchChanged"></policy-buyer-switch>
            <hr />
            <policy-buyer
                ng-if="!vm.state.primaryTravelerIsPolicyBuyer"
                policy-buyer="vm.state.policyBuyer"
                states="vm.state.stateOptions"></policy-buyer>
            <div ng-show="vm.step === vm.tabs.aircare.address" ng-include="'app/purchase/aircare/aircare.prevnext.html'"></div>
        </div>
    </div>
</ng-form>