<ng-form name="travelerInfoForm">
    <div ng-form="stepForm">
        <div ng-show="vm.step === vm.tabs.aircare.travelers || vm.step === 6">
            <div ng-show="vm.step === vm.tabs.aircare.travelers || vm.step === 6" ng-include="'app/purchase/aircare/aircare.steps.html'"></div>
            <div class="row" ng-show="vm.step === 6">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr class="table-header">
                                <th><h4>Travelers Information</h4></th>
                                <th>
                                    <button type="button" class="btn btn-default active pull-right" role="button" ng-click="vm.jumpUnconditionally(1)">
                                        <div class="glyphicon glyphicon-plus-sign">&nbsp;Edit Travelers Information</div>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div ng-if="vm.step === vm.tabs.aircare.travelers">
                <bhtp-license-directive warning="vm.state.warning" state="vm.state.traveler.state" package-id="vm.state.packageId" show-warning="vm.state.showWarning" can-continue="vm.canContinue" package-name="vm.state.packageName" rating-id="vm.state.ratingId"></bhtp-license-directive>
            </div>

            <h4 data-ng-if="!vm.showExistingCustLink && vm.state.customer.customerId">Primary Traveler</h4>
            <h4 data-ng-if="vm.showExistingCustLink">
                Primary Traveler<i class="fa fa-user-plus add-customer-search-icon"></i> <a href="#" data-ng-click="vm.addCustomer()" style="color:#c0c3cc;font-size: 13px;">
                    {{vm.customerSearchMessage}}
                </a>
            </h4>
            <div ng-form="travelerForm">
                <customer-search agent-id="vm.currentAgent.agentId" package-id="vm.statePackageId" update-customer="vm.mapCustomer" data-ng-if="vm.showCustomerSearch"></customer-search>
                <div class="row">
                    <div class="form-group col-sm-4 col-lg-3">
                        <label>First Name </label>
                        <input ng-disabled="vm.readonly" name="firstName" autofocus required type="text" class="form-control" placeholder="First Name" data-ng-model="vm.state.traveler.firstName" ng-model-options="{ updateOn: 'blur' }" data-ng-maxlength="40" />
                        <div data-ng-show="travelerForm.firstName.$invalid && travelerForm.firstName.$touched">
                            <span class="haserrorfieldlevel" data-ng-show="travelerForm.firstName.$error.required && travelerForm.firstName.$touched" ng-bind="vm.errors.traveler.firstName.req"></span>
                        </div>
                        <span class="haserrorfieldlevel" data-ng-show="travelerForm.firstName.$error.maxlength">First Name cannot be over 40 characters</span>
                    </div>
                    <div class="form-group col-sm-4 col-lg-3">
                        <label>Last Name</label>
                        <input ng-disabled="vm.readonly" name="lastName" required type="text" class="form-control" placeholder="Last Name" data-ng-model="vm.state.traveler.lastName" ng-model-options="{ updateOn: 'blur' }" data-ng-maxlength="80" />
                        <div data-ng-show="travelerForm.lastName.$invalid && travelerForm.lastName.$touched">
                            <span class="haserrorfieldlevel" data-ng-show="travelerForm.lastName.$error.required && travelerForm.lastName.$touched" ng-bind="vm.errors.traveler.lastName.req"></span>
                        </div>
                        <span class="haserrorfieldlevel" data-ng-show="travelerForm.lastName.$error.maxlength">Last Name cannot be over 80 characters</span>
                    </div>

                    <div class="form-group col-sm-4 col-lg-2">
                        <label>Date of Birth</label>
                        <div class="input-group">
                            <input type="text"
                                   name="dateOfBirth" id="dateOfBirth"
                                   ng-disabled="vm.readonly"
                                   data-ng-model="vm.state.traveler.dateOfBirth"
                                   class="form-control"
                                   data-datepicker-popup="MM/dd/yyyy"
                                   data-date-picker
                                   data-is-open="vm.state.traveler.dateOfBirthDatePicker"
                                   data-valid-traveler-age="true"
                                   data-validate-eighteen="false"
                                   data-min-date="minDate"
                                   data-age-min="{{vm.state.packageStateConfig.minimumAge}}"
                                   data-age-max="{{vm.state.packageStateConfig.maximumAge}}"
                                   ng-required="true"
                                   data-close-text="Close"
                                   data-ng-keyup="keypressCallback($event)" />
                            <span class="input-group-btn">
                                <button ng-disabled="vm.readonly || vm.state.customer.customerId" type="button" class="btn btn-default" ng-click="vm.openPrimaryTravelerDatePicker($event, vm.state.traveler, 'dateOfBirthDatePicker')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                        <span class="haserrorfieldlevel" data-ng-show="travelerForm.dateOfBirth.$error.validTravelerAge && travelerForm.dateOfBirth.$touched" ng-bind="vm.errors.traveler.birthdate.over18"></span>
                        <span class="haserrorfieldlevel" data-ng-show="travelerForm.dateOfBirth.$error.validDate && travelerForm.dateOfBirth.$touched" ng-bind="vm.errors.traveler.birthdate.format"></span>
                        <span class="haserrorfieldlevel" data-ng-show="travelerForm.dateOfBirth.$error.required && travelerForm.dateOfBirth.$touched" ng-bind="vm.errors.traveler.birthdate.req"></span>
                        <span class="haserrorfieldlevel" data-ng-show="travelerForm.dateOfBirth.$error.minDate && travelerForm.dateOfBirth.$touched" ng-bind="vm.errors.traveler.birthdate.min"></span>
                        <span class="haserrorfieldlevel" data-ng-show="travelerForm.dateOfBirth.$error.maxDate && travelerForm.dateOfBirth.$touched" ng-bind="vm.errors.traveler.birthdate.max"></span>
                        <span class="haserrorfieldlevel" data-ng-show="travelerForm.dateOfBirth.$error.ageMin && travelerForm.dateOfBirth.$touched" ng-bind="vm.errors.traveler.birthdate.ageMin"></span>
                        <span class="haserrorfieldlevel" data-ng-show="travelerForm.dateOfBirth.$error.ageMax && travelerForm.dateOfBirth.$touched" ng-bind="vm.errors.traveler.birthdate.ageMax"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4 col-lg-3">
                        <label>Email Address</label>
                        <span>
                            <a tooltip="This should be the customer's email address. Policy documents are assigned based upon this information.">
                                <span class="fa fa-question-circle"></span><span class="hidden-xs"></span>
                            </a>
                        </span>
                        <input
                            class="form-control"
                            type="email"
                            name="emailAddress"
                            placeholder="Email Address"
                            ng-disabled="vm.readonly || vm.state.customer.customerId"
                            ng-required="!vm.state.traveler.noEmailAddress"
                            ng-keyup="vm.onPrimaryTravelerEmailAddressKeyUp($event)"
                            data-ng-model="vm.state.traveler.emailAddress"
                            data-ng-maxlength="80" />
                        <label id="no-email-address">
                            <input type="checkbox" name="noEmailAddress" ng-disabled="vm.readonly || vm.state.customer.customerId" data-ng-model="vm.state.traveler.noEmailAddress" ng-change="vm.onNoEmailAddressChange(vm.state.traveler.noEmailAddress)" />
                            <span>No Email Address</span>
                        </label>
                        <span class="haserrorfieldlevel" data-ng-show="travelerForm.emailAddress.$error.required && travelerForm.emailAddress.$touched" ng-bind="vm.errors.traveler.email.opt"></span>
                        <span class="haserrorfieldlevel" data-ng-show="travelerForm.emailAddress.$error.email" ng-bind="vm.errors.traveler.email.format"></span>
                        <span class="haserrorfieldlevel" data-ng-show="travelerForm.emailAddress.$error.maxlength">Email cannot be over 80 character</span>
                    </div>
                    <div class="form-group col-sm-4 col-lg-3">
                        <label>Phone Number</label>
                        <input ng-disabled="vm.readonly" name="phoneNumber" id="phoneNumber" required type="text" class="form-control" data-ng-model="vm.state.traveler.phoneNumber" ng-model-options="{ updateOn: 'blur' }" data-bhtp-mask="{{vm.phoneMask}}" ng-keyup="keypressCallback($event)" />
                        <span class="haserrorfieldlevel" data-ng-show="travelerForm.phoneNumber.$error.required && travelerForm.phoneNumber.$touched" ng-bind="vm.errors.traveler.phone.req"></span>
                        <span class="help-block haserrorfieldlevel" data-ng-show="travelerForm.phoneNumber.$error.validPhone" ng-bind="vm.errors.traveler.phone.format"></span>
                    </div>
                    <div class="form-group col-sm-4 col-lg-2">
                        <label>Residence</label>
                        <select
                            state-select-persister
                            id="state"
                            class="form-control"
                            title="States where the product is not available for sell have been greyed out"
                            name="state"
                            required
                            package-state-config=""
                            ng-disabled="vm.readonly"
                            psc-ratingId="vm.state.ratingId"
                            psc-config="vm.state.packageStateConfig"
                            psc-errors="vm.errors"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            data-ng-model="vm.state.traveler.state">
                            <option ng-repeat="state in vm.state.stateOptions"
                                    ng-selected="{{state.code == vm.state.traveler.state}}" value="{{state.code}}">
                                {{state.name}}
                            </option>
                        </select>
                        <span class="haserrorfieldlevel" data-ng-show="travelerForm.state.$error.required && travelerForm.state.$touched" ng-bind="vm.errors.traveler.state.req"></span>
                    </div>
                </div>
                <hr />
                <h4>Additional Travelers</h4>

                <div class="row" ng-show="vm.state.travelers.length > 0">
                    <div class="form-group col-sm-4 col-lg-3 hidden-xs"><label>First Name </label></div>
                    <div class="form-group col-sm-4 col-lg-3 hidden-xs"><label>Last Name </label></div>
                    <div class="form-group col-sm-4 col-lg-3 hidden-xs"><label>Date of Birth </label></div>
                    <div class="form-group col-sm-1"></div>
                </div>

                <div class="row" data-ng-repeat="traveler in vm.state.travelers">
                    <ng-form name="travelerForm">
                        <!--repeater-->
                        <div class="form-group col-sm-4 col-lg-3">
                            <input ng-disabled="vm.readonly" name="firstName" required type="text" class="form-control" placeholder="First Name" data-ng-model="vm.state.travelers[$index].firstName" ng-model-options="{ updateOn: 'blur' }" data-ng-maxlength="40" />
                            <span class="haserrorfieldlevel" data-ng-show="travelerForm.firstName.$error.required && travelerForm.firstName.$touched" ng-bind="vm.errors.traveler.firstName.req"></span>
                            <span class="haserrorfieldlevel" data-ng-show="travelerForm.firstName.$error.maxlength">First Name cannot be over 40 characters</span>
                        </div>
                        <div class="form-group col-sm-4 col-lg-3">
                            <input ng-disabled="vm.readonly" name="lastName" required type="text" class="form-control" placeholder="Last Name" data-ng-model="vm.state.travelers[$index].lastName" ng-model-options="{ updateOn: 'blur' }" data-ng-maxlength="80" />
                            <span class="haserrorfieldlevel" data-ng-show="travelerForm.lastName.$error.required && travelerForm.lastName.$touched" ng-bind="vm.errors.traveler.lastName.req"></span>
                            <span class="haserrorfieldlevel" data-ng-show="travelerForm.lastName.$error.maxlength">Last Name cannot be over 80 characters</span>
                        </div>
                        <div class="form-group col-sm-3 col-lg-2">
                            <div class="input-group">
                                <input type="text"
                                       name="dateOfBirth"
                                       id="travelBirthDate_{{$index}}"
                                       ng-disabled="vm.readonly"
                                       data-datepicker-popup="MM/dd/yyyy"
                                       data-date-picker
                                       data-ng-model="vm.state.travelers[$index].dateOfBirth"
                                       class="form-control"
                                       data-is-open="vm.state.travelers[$index].dateOfBirthDatePicker"
                                       data-valid-traveler-age="true"
                                       data-min-date="minDate"
                                       ng-required="true"
                                       data-ng-keyup="keypressCallback($event)"
                                       data-close-text="Close" />
                                <span class="input-group-btn">
                                    <button ng-disabled="vm.readonly" type="button" class="btn btn-default" ng-click="vm.openTravelerDatePicker($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                            <span class="haserrorfieldlevel" data-ng-show="travelerForm.dateOfBirth.$error.validDate && travelerForm.dateOfBirth.$touched" ng-bind="vm.errors.traveler.birthdate.format"></span>
                            <span class="haserrorfieldlevel" data-ng-show="travelerForm.dateOfBirth.$error.required && travelerForm.dateOfBirth.$touched" ng-bind="vm.errors.traveler.birthdate.req"></span>
                            <span class="haserrorfieldlevel" data-ng-show="travelerForm.dateOfBirth.$error.minDate && travelerForm.dateOfBirth.$touched" ng-bind="vm.errors.traveler.birthdate.min"></span>
                            <span class="haserrorfieldlevel" data-ng-show="travelerForm.dateOfBirth.$error.maxDate && travelerForm.dateOfBirth.$touched" ng-bind="vm.errors.traveler.birthdate.max"></span>
                        </div>
                        <div class="form-group col-sm-1">
                            <a href="#" ng-show="{{!vm.readonly}}" ng-click="vm.removeTraveler($index)"><span class="fa fa-trash-o fa-2x icon-align-grid"></span></a>
                        </div>
                    </ng-form>
                </div><!--repeater-->
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" ng-disabled="vm.readonly" ng-click="vm.addTraveler()" data-ng-show="vm.state.travelers.length<vm.state.packageStateConfig.maxTravelers">
                            <span class="fa fa-plus-circle icon-align-text"></span><span>&nbsp;Add Traveler</span>
                        </a>
                    </div>
                </div>
                <div class="row" ng-if="vm.state.travelers.length==vm.state.packageStateConfig.maxTravelers">
                    <div class="col-xs-12">
                        <p>{{vm.errors.traveler.maxTravelers.maxNumberMessage}}</p>
                    </div>
                </div>
                <div ng-show="vm.step === vm.tabs.aircare.travelers" ng-include="'app/purchase/aircare/aircare.prevnext.html'"></div>
            </div>
        </div>
    </div>
</ng-form>