<div class="dob form-group {{vm.isAirCare() ? 'padding-left col-xs-6 col-sm-4 col-lg-3'  : 'col-xs-6 col-sm-4 col-lg-2' }}">
    <!--col-xs-8-->
    <label for="ptDob">Date of Birth</label>
    <input type="text"
           data-bhtp-mask="mm/dd/yyyy"
           placeholder="mm/dd/yyyy"
           data-valid-traveler-age=""
           data-validate-eighteen="false"
           id="ptDob"
           name="ptDob"
           class="form-control"
           data-age-min="{{vm.state.packageStateConfig.minimumAge}}"
           data-age-max="{{vm.state.packageStateConfig.maximumAge}}"
           data-ng-model="vm.state.quote.travelers[0].birthDate"
           data-ng-keypress="vm.notifyEditingRatingField()"
           data-ng-change="vm.fillAge(vm.state.quote.travelers[0])"
           data-ng-disabled="vm.state.rules.traveler.primary.edit.birthdate == false"
           data-ng-required="vm.state.rules.traveler.primary.req.birthdate == true" />
    <span data-ng-show="primaryTravelerForm.ptDob.$invalid && primaryTravelerForm.ptDob.$touched">
        <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.ptDob.$error.required" ng-bind="vm.errors.traveler.birthdate.req"></span>
        <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.ptDob.$error.validDate" ng-bind="vm.errors.traveler.birthdate.format"></span>
        <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.ptDob.$error.minDate" ng-bind="vm.errors.traveler.birthdate.min"></span>
        <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.ptDob.$error.maxDate" ng-bind="vm.errors.traveler.birthdate.max"></span>
        <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.ptDob.$error.ageMin" ng-bind="vm.errors.traveler.birthdate.ageMin"></span>
        <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.ptDob.$error.ageMax" ng-bind="vm.errors.traveler.birthdate.ageMax"></span>
    </span>
</div>
<div class="form-group {{vm.isAirCare() ? 'col-xs-6 col-sm-2 col-lg-1' : 'col-xs-6 col-sm-2 col-lg-1' }}">
    <label for="ptAge">Age</label>
    <input type="text" id="ptAge" name="ptAge" class="form-control" data-ng-model="vm.state.quote.travelers[0].age" data-ng-disabled="true" />
</div>
<input type="hidden" id="ptId" name="ptId" data-ng-model="vm.state.quote.travelers[0].Id" />