<div>
    <h4>Quotes</h4>
    <div>
        <div class="row filter-bar">
            <div class="col-md-3 form-group">
                <label for="search">Search</label>
                <input type="text" class="form-control" name="search" placeholder="Search"
                       data-ng-model="vm.customerQuotes.searchText"
                       data-ng-change="vm.customerQuotes.searchChanged();" />
            </div>
            <div class="col-md-3 form-group">
                <label for="productFilter">Show</label>
                <select class="form-control" name="productFilter"
                        data-ng-model="vm.customerQuotes.filteredProduct"
                        data-ng-options="product.value as product.name for product in vm.customerQuotes.products"
                        data-ng-change="vm.customerQuotes.filterChanged();"></select>
            </div>
            <div class="col-md-2 form-group">
                <label for="dateFilter">Date Range</label>
                <select class="form-control" name="dateFilter"
                        data-ng-model="vm.customerQuotes.filteredDate"
                        data-ng-options="dateFilter.interval as dateFilter.name for dateFilter in vm.customerQuotes.dateFilters"
                        data-ng-change="vm.customerQuotes.filterChanged();"></select>
            </div>
        </div>
        <div ng-if="vm.ready">
            <div data-bhtp-grid-directive=""
                 data-grid-config="vm.customerQuotes.gridConfig"
                 data-load-data="vm.customerQuotes.loadData()" data-custom-filters="vm.customerQuotes.getCustomFilters()"
                 data-search-text="vm.customerQuotes.searchText" data-selected="vm.customerQuotes.selected"
                 data-reload-data-flag="vm.customerQuotes.reloadDataFlag" data-refresh-data-flag="vm.customerQuotes.refreshDataFlag"></div>
        </div>

        <div data-bhtp-modal-confirmation="" data-modal-id="delconfirm" data-action="vm.customerQuotes.removeQuotes(entityIds)" data-yes="Yes" data-no="No"
             data-title="Confirm Remove" data-message="Are you sure you want to remove quote(s)?" data-entity-ids="vm.customerQuotes.selectedDeleteIds"></div>

    </div>
</div>