<section id="quoteDetail" data-ng-controller="quoteDetailController as vm">
    <div>
        <div class="row page-header">
            <div class="col-sm-6">
                <h2>Quote #{{vm.quote.policy.quoteNumber}}</h2>
                <div data-ng-hide="vm.showQuoteNumber" class="haserrorfieldlevel">
                    {{vm.quoteError}}
                </div>
            </div>
            <div class="col-sm-6 edit-action-btn">
                <button type="submit" class="btn btn-lg btn-default btn-cust-sec" data-ng-hide="!vm.isEmailQuote" data-ng-click="vm.sendQuote(vm.quote)">Send</button>
                <button type="submit" class="btn btn-lg btn-default btn-cust-sec" data-ng-click="vm.editQuote()">Edit</button>
                <button type="submit" class="btn btn-lg btn-default btn-cust-sec" data-ng-click="vm.editQuote()">Purchase</button>
                <!-- This functionality can be enable for quotes that are ready to bind, but first we need a way to check whether a qoute can be bound -->
                <!--<button type="submit" class="btn btn-lg btn-primary btn-cust" data-ng-click="vm.purchaseQuote()">Purchase</button>-->
            </div>
        </div>
        
        <div id="quote-details-top" data-ng-include="'app/quotes/quote.detail.top.html'"></div>
        
        <div data-ng-show="vm.showMidSection()">
            <div data-ng-include="'app/quotes/quote.detail.mid.html'"></div>
        </div>

        <div data-ng-include="'app/quotes/quote.detail.coverage.html'"></div>
    </div>
</section>