<div id="send-quote-modal" class="panel-primary" tabindex="-1" role="dialog">
    <div class="modal-header modal-heading">
        <button type="button" class="close" data-ng-click="vm.close()">&times;</button>
        <h4 class="modal-title">Send Quick Quote</h4>
    </div>
    <form name="sendQuoteForm" id="sendQuoteForm" class="form-horizontal" novalidate ng-submit="sendQuoteForm.$valid && sendQuote()">
        <div class="modal-body">
            <div class="row" data-ng-hide="vm.showMessage">
                <div class="col-md-12 header-info">
                    Please enter the recipient(s) email addresses separated by a comma.
                </div>
                <div class="col-md-12">
                    <div class="form-group" data-ng-class="{'has-error': sendQuoteForm.email.$invalid && sendQuoteForm.email.$touched }">
                        <label class="col-md-12 control-label" style="text-align:left" for="email">Recipient(s) Email Address</label>
                        <div class="col-md-12">
                            <textarea name="email" class="form-control" rows="3" data-ng-model="vm.recipients" data-bhtp-multiple-emails></textarea>
                            <div data-ng-show="sendQuoteForm.email.$invalid && sendQuoteForm.email.$touched">
                                <span class="help-block" data-ng-show="sendQuoteForm.email.$error.multipleEmails">Please enter valid email address.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group, pull-left">
                        <label style="text-align:left" class="checkbox-inline col-md-12 pull-left">
                            <input
                                id="inlineCheckbox1"
                                type="checkbox"
                                value="option1"
                                data-ng-model="vm.agentCarbonCopy"> CC To Me
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 control-label pull-left" style="text-align:left">Select quotes to send (Up to 5)</label>
                        <div class="col-md-12" ng-repeat="package in vm.packages">
                            <input type="checkbox" ng-model="package.selected" ng-change="vm.selectedPackage(package)" ng-disabled="vm.packagesToQuote.length >= 5 && !package.selected" /> {{ package.displayName + ' ' + (package.displayNameSubtitle ? package.displayNameSubtitle : '') + ' ' + (package.premium | currency) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 control-label pull-left" for="message" style="text-align:left">Message (Up to 140 characters)</label>
                        <div class="col-md-12">
                            <textarea
                                class="form-control"
                                name="message"
                                maxlength="140"
                                rows="3"
                                data-ng-model="vm.message"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-show="vm.showMessage">
                <div class="col-md-12">
                    {{ vm.responseMessage }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="close" type="button" class="btn btn-lg btn-default btn-cust-sec" data-ng-click="vm.close()">Close</button>
            <button name="done" type="button" class="btn btn-lg btn-primary btn-cust" data-ng-click="vm.sendQuote()" data-ng-show="!vm.quoteSent" data-ng-disabled="vm.sendQuoteForm.$invalid || vm.packagesToQuote.length < 1 || vm.sendingQuote">Send</button>
        </div>
    </form>
</div>