<div id="send-quote-modal" class="panel-primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header modal-heading">
        <button type="button" class="close" aria-hidden="true" data-ng-click="close()">&times;</button>
        <h4 class="modal-title">Email Quote</h4>
    </div>
    <form name="sendQuoteForm" id="sendQuoteForm" class="form-horizontal" novalidate ng-submit="sendQuoteForm.$valid && sendQuote()">
        <div class="modal-body">
            <div class="row" data-ng-hide="quoteData.showMessage">
                <div class="col-md-12 header-info">
                    This quote will be sent to primary traveler. To send to additional recipients, fill out the field below separated by a comma.
                </div>
                <div class="col-md-12">
                    <div class="form-group" data-ng-class="{'has-error': sendQuoteForm.primaryemail.$invalid && sendQuoteForm.primaryemail.$touched}">
                        <label class="col-md-12 control-label" style="text-align:left" for="email">Primary Traveler's Email Address</label>
                        <div class="col-md-12">
                            <input name="email" ng-disabled="true" class="form-control" placeholder="Loading..."  data-ng-model="quoteData.primaryemail" data-bhtp-multiple-emails />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group, pull-left">
                        <label style="text-align:left" class="checkbox-inline col-md-12 pull-left">
                            <input ng-disabled="quoteData.primaryemail == null" type="checkbox" id="inlineCheckbox1" value="option1" data-ng-model="quoteData.ccmeto"> CC To Me
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" data-ng-class="{'has-error': sendQuoteForm.email.$invalid && sendQuoteForm.email.$touched }">
                        <label class="col-md-12 control-label pull-left" for="email" style="text-align:left">Additional Email Addresses</label>
                        <div class="col-md-12">
                            <textarea ng-disabled="quoteData.primaryemail == null" name="email" class="form-control" rows="3" data-ng-model="quoteData.email" data-bhtp-multiple-emails></textarea>
                             <div data-ng-show="sendQuoteForm.email.$invalid && sendQuoteForm.email.$touched">
                                <span class="help-block" data-ng-show="sendQuoteForm.email.$error.multipleEmails">Please enter valid email address.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-12 control-label pull-left" for="quoteComment" style="text-align:left">Message (Up to 1000 characters)</label>
                        <div class="col-md-12">
                            <textarea
                                class="form-control"
                                name="quoteComment"
                                maxlength="1000"
                                rows="3"
                                data-ng-model="quoteComment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-show="quoteData.showMessage">
                <div class="col-md-12">
                    {{quoteData.message}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="close" type="button" class="btn btn-lg btn-default btn-cust-sec" ng-disabled="quoteData.primaryemail == null" data-ng-click="close()">Close</button>
            <button name="done" type="button" class="btn btn-lg btn-primary btn-cust" data-ng-click="sendQuote()" data-ng-show="!quoteSent" data-ng-disabled="sendQuoteForm.$invalid || quoteData.showMessage || quoteData.primaryemail == null">Send</button>
        </div>
    </form>
</div>