<script>
    //optional need to be loaded before angular-file-upload-shim(.min).js
    // This is needed to support older browsers.
    FileAPI = {
        jsPath: '/Scripts/ngFileUploader/FileAPI.min.js',
        staticPath: '/Scripts/ngFileUploader/FileAPI.flash.swf',
        //forceLoad: true, html5: false //to debug flash in HTML5 browsers
        //noContentTimeout: 10000 (see #528)
    }
</script>
<div class="row">
    <div class="col-md-6">
        <h2>Upload Policies</h2>
    </div>
</div>
<div class="row" style="margin-top:2em;">
    <div class="col-md-8">
        <p>Click Select Files to choose a CSV file from your computer. Files must be smaller than {{vm.maxFileSizeInKb}} KB ({{vm.maxFileSizeInMb}}MB).</p>
    </div>
</div>
<div class="row" style="margin-top:2em;">
    <div class="col-md-5">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default btn-cust-file"
                        type="button"
                        ngf-select
                        ngf-change="vm.storeFiles($files)"
                        ngf-multiple="true"
                        ngf-drop="true"
                        accept=".csv">
                    Select Files
                </button>
            </span>
            <input type="text"
                   class="form-control input-cust-file"
                   value="{{vm.fileNamesDisplay}}"
                   readonly="readonly"
                   style="background-color: white;"
                   ngf-change="vm.storeFiles($files)"
                   ngf-multiple="true"
                   ngf-drop="true" />
        </div>
    </div>
</div>
<div class="col-md-5">
    <div class="pull-right">
        <button class="btn btn-cust-sec"
                type="button"
                data-ng-click="vm.clearStoredFiles(true)">
            Cancel
        </button>
        <button class="btn btn-primary btn-cust"
                type="button"
                data-ng-disabled="vm.uploadDisabled()"
                data-ng-click="vm.upload()">
            Upload
        </button>
    </div>
</div>
<div data-ng-if="vm.fileNamesDisplay && !vm.errorMessage">
    <div class="col-md-12 row borderless-table">
        <div class="table-responsive">
            <table class="table">
                <tr class="text-left">
                    <th class="col-md-3">FILE NAME</th>
                    <th class="col-md-2">SIZE</th>
                    <th class="col-md-4">STATUS</th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                </tr>
                <tr data-ng-repeat="file in vm.filesToUpload track by $index">
                    <td>{{file.name}}</td>
                    <td>{{file.sizeInKb}}</td>
                    <!-- Status-->
                    <td data-ng-if="!file.error">
                        <div class="progress" style="border-radius:0; width:50%;margin-bottom:0;">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-ng-style="{ 'width': file.progressDisplay}">
                            </div>
                        </div>
                    </td>
                    <td data-ng-if="file.error" class="text-danger">{{file.error}}</td>
                    <!--End Status-->
                    <td data-ng-if="!file.progress || file.error" class=" icon-table-end"><i class="fa fa-trash grayColor" data-ng-click="vm.removeFile($index)" style="cursor:pointer"></i></td>
                    <td data-ng-if="file.progress && file.progress != 100" class=" icon-table-end"><i class="fa fa-times grayColor" data-ng-click=" vm.abortupload()" style="cursor:pointer"></i></td>
                    <td data-ng-if="file.progress == 100 && !file.error" class="icon-table-end"><i class="fa fa-check-circle"></i></td>
                    <td class="icon-table-end" data-ng-if="file.uploadId"><i data-ng-click="vm.exportUpload(file.uploadId)" style="color:#54BA62;font-size:24px;cursor:pointer" class="fa fa-arrow-circle-down"></i></td>
                </tr>

            </table>
        </div>
    </div>
</div>

