<!--<style>
    .table{
        height: 710px
    }
</style>-->
<style>
    .bh-warning {cursor:pointer; color:orange; font-size:20px;}
</style>
<h2>Policy Upload Details</h2>
<br />

<form name="gridConfigForm" id="gridConfigForm" style="margin-bottom:5em;">
    <div class="row col-lg-12" id="formWidth">
        <div class="form-inline">
            <div class="form-group col-sm-3">
                <label for="rowNumbers" class="form-input">Rows per page: </label>
                <input type="number"
                       style="width: 8em;"
                       class="form-control"
                       name="rowNumbers"
                       id="rowNumbers"
                       min="{{vm.minRows}}"
                       data-ng-model="vm.paginationDetails.itemsPerPage"
                       data-ng-change="vm.paginationChanged()"
                       data-ng-pattern="/^\d+$/"
                       step="1"
                       required />
                <div role="alert" class="help-block">
                    <span class="haserrorfieldlevel" ng-show="gridConfigForm.rowNumbers.$error.number || gridConfigForm.rowNumbers.$error.min">
                        Please enter a valid number greater than or equal to {{vm.minRows}}.
                    </span>
                    <span class="haserrorfieldlevel" ng-show="gridConfigForm.rowNumbers.$error.required && !gridConfigForm.rowNumbers.$error.number">
                        Number of rows is required.
                    </span>
                    <span class="haserrorfieldlevel" ng-show="!gridConfigForm.rowNumbers.$valid && (!gridConfigForm.rowNumbers.$error.number && !gridConfigForm.rowNumbers.$error.min && !gridConfigForm.rowNumbers.$error.required)">
                        Please enter a whole number.
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-2">
                <label for="showErrors" class="form-input">Only errors: </label>
                <input type="checkbox" class="form-control" name="showErrors" id="showErrors" data-ng-model="vm.errorsOnly" data-ng-change="vm.paginationChanged()" />
            </div>
            <div class="form-group col-sm-2">
                <label for="removeScrolling" class="form-input">Remove scrolling: </label>
                <input type="checkbox" class="form-control" name="removeScrolling" id="removeScrolling" data-ng-model="vm.scrollDisabled" data-ng-change="vm.calculateTableOverallDisplay()" />
            </div>
            <div class="form-group pull-right">
                <button type="button" name="columnDisplay" id="columnDisplay" data-ng-click="vm.columnDisplay()" class="btn btn-lg btn-cust" style="margin-top:0;">{{vm.columnDisplayText}}</button>
                <button type="button" name="downloadPolicies" id="downloadPolicies" data-ng-click="vm.downloadPolicies()" class="btn btn-lg btn-cust" style="margin-top:0;"><i class="fa fa-arrow-circle-down"></i> Export</button>
            </div>
        </div>
    </div>
</form>

<div data-ng-show="vm.showErrorInfo" class="col-lg-12" style="padding-left: 30px;">
    <div class="row alert alert-danger" class="col-sm-12">
        <button type="button" class="close" data-ng-click="vm.hideErrorInfo()">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <div class="col-sm-2">
            <h6 class="text-danger">Reservation Id</h6>
            <span>{{vm.errorInformation.resId}}</span>
        </div>
        <div class="col-sm-2">
            <h6 class="text-danger">Error Type</h6>
            <span>{{vm.errorInformation.errorType}}</span>
        </div>
        <div class="col-sm-6">
            <h6 class="text-danger">Error Message</h6>
            <span>{{vm.errorInformation.errorMessage}}</span>
        </div>
    </div>
</div>
<div data-ng-show="vm.policyDetails" class="col-lg-12" id="uploadDetails">
    <table class="table table-striped policy-details">
        <thead>
            <tr class="table-header">
                <th data-ng-click="vm.toggleErrors()" class="text-center">Error Status</th>
                <th data-ng-repeat="col in vm.columns track by $index" data-ng-if="vm.showColumnHeader(col)" class="text-center">
                    <span data-ng-click="vm.changeGridSortBindings(col)">{{col.header}}</span>
                    <span data-ng-if="col.sortDesc && col.addToSort" data-ng-click="vm.toggleDesc(col)"> | <i class="fa fa-sort-desc"></i></span>
                    <span data-ng-if="!col.sortDesc && col.addToSort" data-ng-click="vm.toggleDesc(col)"> | <i class="fa fa-sort-asc"></i></span>
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr data-ng-repeat="line in vm.policyDetails.pagedItems">
                <td data-ng-if="line.policyUploadErrorTypeId > 0" data-ng-click="vm.showErrorInformation(line)"><i class="fa fa-times-circle" style="cursor:pointer;"></i></td>
                <td data-ng-if="line.policyUploadErrorTypeId == 0 && line.policyNumber != null" data-ng-click="vm.showErrorInformation(line)"><i class="fa fa-check-circle" style="cursor:pointer;"></i></td>
                <td data-ng-if="line.policyUploadErrorTypeId == 0 && line.policyNumber == null" data-ng-click="vm.showErrorInformation(line)"><i class="fa fa-ban fa-warning bh-warning"></i></td>
                <td data-ng-if="vm.showColumnData('csvRowNumber')">{{line.csvRowNumber}}</td>
                <td data-ng-if="vm.showColumnData('policyNumber')">{{line.policyNumber}}</td>
                <td data-ng-if="vm.showColumnData('locationNumber')">{{line.locationNumber}}</td>
                <td data-ng-if="vm.showColumnData('firstName')">{{line.firstName}}</td>
                <td data-ng-if="vm.showColumnData('lastName')">{{line.lastName}}</td>
                <td data-ng-if="vm.showColumnData('productCode')">{{line.productCode}}</td>
                <td data-ng-if="vm.showColumnData('premiumRcvdDate')">{{line.premiumRcvdDate | date : "MM/dd/yyyy"}}</td>
                <td data-ng-if="vm.showColumnData('departureDate')">{{line.departureDate | date : "MM/dd/yyyy"}}</td>
                <td data-ng-if="vm.showColumnData('returnDate')">{{line.returnDate | date : "MM/dd/yyyy"}}</td>
                <td data-ng-if="vm.showColumnData('useYr')">{{line.useYr}}</td>
                <td data-ng-if="vm.showColumnData('useYrStartDate')">{{line.useYrStartDate | date : 'MM/dd/yyyy'}}</td>
                <td data-ng-if="vm.showColumnData('totalTripCost')">{{line.totalTripCost | currency}}</td>
                <td data-ng-if="vm.showColumnData('address')">{{line.address}}</td>
                <td data-ng-if="vm.showColumnData('city')">{{line.city}}</td>
                <td data-ng-if="vm.showColumnData('state')">{{line.state}}</td>
                <td data-ng-if="vm.showColumnData('zip')">{{line.zip}}</td>
                <td data-ng-if="vm.showColumnData('country')">{{line.country}}</td>
                <td data-ng-if="vm.showColumnData('phone')">{{line.phone}}</td>
                <td data-ng-if="vm.showColumnData('email')">{{line.email}}</td>
                <td data-ng-if="vm.showColumnData('dateOfBirth')">{{line.dateOfBirth | date : "MM/dd/yyyy"}}</td>
                <td data-ng-if="vm.showColumnData('destination')">{{line.destination}}</td>
                <td data-ng-if="vm.showColumnData('agentCode')">{{line.agentCode}}</td>
                <td data-ng-if="vm.showColumnData('memberNum')">{{line.memberNum}}</td>
                <td data-ng-if="vm.showColumnData('resID')">{{line.resID}}</td>
                <td data-ng-if="vm.showColumnData('invoiceNo')">{{line.invoiceNo}}</td>
                <td data-ng-if="vm.showColumnData('grossPrem')">{{line.grossPrem | currency}}</td>
                <td data-ng-if="vm.showColumnData('netPaid')">{{line.netPaid | currency}}</td>
                <td data-ng-if="vm.showColumnData('amntKept')">{{line.amntKept | currency}}</td>
                <td data-ng-if="vm.showColumnData('marketing')">{{line.marketing}}</td>
                <td data-ng-if="vm.showColumnData('actionCode')">{{line.actionCode}}</td>
                <td data-ng-if="vm.showColumnData('referralId')">{{line.referralId}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div data-ng-if="vm.policyDetails.pagedItems.length > 0">
    <div class="col-md-12 text-center">
        <div data-pagination
             data-max-size="vm.paginationDetails.maxSize"
             data-items-per-page="vm.paginationDetails.itemsPerPage"
             data-ng-model="vm.paginationDetails.model"
             data-total-items="vm.paginationDetails.totalItems"
             data-ng-change="vm.paginationChanged()"
             data-boundary-links="true"
             class="pagination-sm">
        </div>
    </div>
</div>
