<section id="login-view" class="mainbar" data-ng-controller="authController as vm">
    <div class="container signin-container">
        <div class="row">

            <div class="col-lg-5 col-md-5 signin-page-logo">
                <img src="{{vm.cdnUrl}}images/BHTP_logo_distressed-blue-large.png" />
            </div>

            <!-- Four Columns -->
            <div class="col-lg-7 col-md-7">
                <form name="forgotForm" class="form-horizontal signin-form" role="form">
                    <h2 class="signin-heading">Reset Password</h2>
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h6>Please enter your email address. We will send you a link and instructions on how to change your password.</h6>
                        </div>
                    </div>
                    <input name="username" type="email" ng-model="vm.username" class="form-control col-sm-12" placeholder="Email address" required ng-model-options="{ updateOn: 'blur' }" />
                    <div class="col-sm-10">
                        <div class="haserrorfieldlevel" ng-show="vm.forgotError != null">{{vm.forgotError.details.description}}</div>
                        <div class="haserrorfieldlevel" ng-show="forgotForm.username.$error.required  && forgotForm.username.$touched">This is required.</div>
                        <div class="haserrorfieldlevel" ng-show="forgotForm.username.$error.email  && forgotForm.username.$touched">This needs to be an email address.</div>
                    </div>
                    <br /><br />
                    <button ng-disabled="forgotForm.$invalid" class="btn btn-lg btn-primary btn-cust btn-block" type="button" ng-click="vm.forgot();">SEND</button>
                    <a href="login" class="signin-forgotpass ">Back to Sign In</a>
                </form>
            </div>

        </div>
    </div>
</section>