<div>
    <h4 data-ng-if="!vm.showExistingCustLink && vm.state.customer.customerId">Travelers</h4>
    <h4 data-ng-if="vm.showExistingCustLink">Travelers<i class="fa fa-user-plus add-customer-search-icon"></i> <a href="#" data-ng-click="vm.addCustomer()" style="color:#c0c3cc;font-size: 13px;">{{vm.customerSearchMessage}}</a></h4>
    <div data-ng-form="primaryTravelerForm">
        <customer-search agent-id="vm.currentAgent.agentId" package-id="vm.statePackageId" update-customer="vm.mapCustomer" data-ng-if="vm.showCustomerSearch"></customer-search>
        <div class="row">
            <div class="form-group col-sm-4 col-lg-3">
                <label for="firstName">First Name</label>
                <input name="firstName" class="form-control" placeholder="First Name" data-ng-model="vm.state.policy.primary.firstName" required data-ng-maxlength="40" />
                <div data-ng-show="primaryTravelerForm.firstName.$invalid && primaryTravelerForm.firstName.$touched">
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.firstName.$error.required" ng-bind="vm.errors.traveler.firstName.req"></span>                    
                </div>
                <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.firstName.$error.maxlength">First Name cannot be over 40 characters</span>
            </div>
            <div class="form-group col-sm-4 col-lg-3">
                <label for="lastName">Last Name</label>
                <input name="lastName" class="form-control" placeholder="Last Name" data-ng-model="vm.state.policy.primary.lastName" required data-ng-maxlength="80" />
                <div data-ng-show="primaryTravelerForm.lastName.$invalid && primaryTravelerForm.lastName.$touched">
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.lastName.$error.required" ng-bind="vm.errors.traveler.lastName.req"></span>                    
                </div>
                <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.lastName.$error.maxlength">Last Name cannot be over 80 characters</span>
            </div>
            <div class="form-group col-sm-4 col-lg-3">
                <label for="birthdate">Date Of Birth</label>
                <div class="input-group">
                    <input type="text" name="birthDate" id="birthdate" class="form-control" data-ng-model="vm.state.policy.primary.birthDate"
                       data-is-open="vm.datePickers['birthDate']"
                       data-datepicker-popup="MM/dd/yyyy"
                       data-date-picker
                           data-valid-traveler-age="" ng-required="true" data-validate-eighteen="false"
                           data-age-min="{{vm.state.packageStateConfig.minimumAge}}" data-age-max="{{vm.state.packageStateConfig.maximumAge}}" ng-keyup="keypressCallback($event)" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="vm.openDatePicker($event, 'birthDate')">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                </div>
                <div data-ng-show="primaryTravelerForm.birthDate.$invalid && primaryTravelerForm.birthDate.$touched">
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.birthDate.$error.validTravelerAge" ng-bind="vm.errors.traveler.birthdate.over18"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.birthDate.$error.validDate" ng-bind="vm.errors.traveler.birthdate.format"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.birthDate.$error.required" ng-bind="vm.errors.traveler.birthdate.req"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.birthDate.$error.minDate" ng-bind="vm.errors.traveler.birthdate.min"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.birthDate.$error.maxDate" ng-bind="vm.errors.traveler.birthdate.max"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.birthDate.$error.date" ng-bind="vm.errors.traveler.birthdate.format"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.birthDate.$error.ageMin" ng-bind="vm.errors.traveler.birthdate.ageMin"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.birthDate.$error.ageMax" ng-bind="vm.errors.traveler.birthdate.ageMax"></span>
                </div>
            </div>
            <div class="form-group col-sm-3 col-lg-2">
                <label>Traveler Trip Cost</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" name="tripCost" id="tripCost" class="form-control" placeholder="Trip Cost" data-ng-model="vm.state.policy.primary.tripCost" required
                           data-ng-min="{{vm.state.packageStateConfig.minimumTripCost}}" data-trip-max="{{vm.state.packageStateConfig.maximumTripCost}}" bhtp-mask-type="decimal"
                           bhtp-mask="{{vm.costCurrencyMask}}" ng-keyup="keypressCallback($event)" data-ng-keydown="ignoreKeys($event)" />
                </div>
                <div data-ng-show="primaryTravelerForm.tripCost.$invalid && primaryTravelerForm.tripCost.$touched">
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.tripCost.$error.required" ng-bind="vm.errors.trip.cost.req"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.tripCost.$error.ngMin" ng-bind="vm.errors.trip.cost.min"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.tripCost.$error.tripMax" ng-bind="vm.errors.trip.cost.max"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4 col-lg-3">
                <label for="emailAddress">Email Address</label>
                <span>
                <a tooltip="This should be the customer's email address. Policy documents are assigned based upon this information.">
                    <span class="fa fa-question-circle"></span><span class="hidden-xs"></span>
                </a>
                </span>
                <input
                    class="form-control"
                    type="email"
                    name="emailAddress"
                    placeholder="Email Address"
                    ng-disabled="vm.state.customer.customerId"
                    ng-required="!vm.state.policy.primary.noEmailAddress"
                    ng-keyup="vm.onPrimaryTravelerEmailAddressKeyUp($event)"
                    data-ng-model="vm.state.policy.primary.emailAddress"
                    data-ng-maxlength="80" />
                <label id="no-email-address">
                    <input
                        type="checkbox"
                        name="noEmailAddress"
                        ng-disabled="vm.state.customer.customerId"
                        data-ng-model="vm.state.policy.primary.noEmailAddress"
                        ng-change="vm.onNoEmailAddressChange(vm.state.policy.primary.noEmailAddress)" />
                    <span>No Email Address</span>
                </label>
                <div data-ng-show="primaryTravelerForm.emailAddress.$invalid && primaryTravelerForm.emailAddress.$touched">
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.emailAddress.$error.required" ng-bind="vm.errors.traveler.email.req"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.emailAddress.$error.email" ng-bind="vm.errors.traveler.email.format"></span>
                </div>
                <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.emailAddress.$error.maxlength">Email cannot be over 80 character</span>
            </div>
            <div class="form-group  col-sm-4 col-lg-3" data-ng-if="!vm.state.customer.customerId || vm.state.customer.phoneNumbers">
                <label>Phone</label>
            <input name="phoneNumber" id="phoneNumber" class="form-control" data-ng-model="vm.state.policy.primary.phoneNumber" placeholder="Phone Number"
                   bhtp-mask="{{vm.phoneMask}}" required data-valid-phone-number-agent ng-keyup="keypressCallback($event)" />
            <div data-ng-show="primaryTravelerForm.phoneNumber.$invalid && primaryTravelerForm.phoneNumber.$touched">
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.phoneNumber.$error.required" ng-bind="vm.errors.traveler.phone.req"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.phoneNumber.$error.validPhone" ng-bind="vm.errors.traveler.phone.format"></span>
                </div>
            </div>
        <div class="form-group col-sm-4 col-lg-3">
            <label for="residenceState">Residence</label>
            <select state-select-persister 
                    ng-change="vm.getSelectedStateName(vm.state.policy.primary.address.stateOrProvince)"
                    name="residenceState"
                        class="form-control"
                        data-ng-model="vm.state.policy.primary.address.stateOrProvince"
                        package-state-config=""
                        psc-ratingid="vm.state.ratingId"
                        psc-config="vm.state.packageStateConfig"
                        psc-errors="vm.errors"
                        psc-state-name="vm.selectedStateName"
                        required>
                <option value="" disabled selected>Select...</option>
                    <option ng-repeat="state in vm.state.lookup.states" value="{{state.code}}"
                        ng-selected="vm.state.policy.primary.address.stateOrProvince == state.code">
                    {{state.name}}
                </option>
                </select>
            <div data-ng-show="primaryTravelerForm.residenceState.$invalid && primaryTravelerForm.residenceState.$touched">
                <span class="help-block haserrorfieldlevel" data-ng-show="primaryTravelerForm.residenceState.$error.required" ng-bind="vm.errors.traveler.state.req"></span>
            </div>
        </div>
    </div>
    </div>
    <hr data-ng-if="!vm.state.customer.customerId" \>
    <div ng-form="allAdditionalTravelersForm">
        <div data-ng-repeat="additionalTraveler in vm.state.policy.travelers">
            <ng-form name="additionalTravelerForm">
            <div class="row">
                <div class="form-group col-sm-4 col-lg-3">
                    <input name="firstName" class="form-control" placeholder="First Name" data-ng-model="additionalTraveler.firstName" required data-ng-maxlength="80" />
                        <div data-ng-show="additionalTravelerForm.firstName.$invalid && additionalTravelerForm.firstName.$touched">
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.firstName.$error.required" ng-bind="vm.errors.traveler.firstName.req"></span>                            
                        </div>
                        <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.firstName.$error.maxlength">First Name cannot be over 80 characters</span>
                </div>
                <div class="form-group col-sm-4 col-lg-3">
                        <input name="lastName" class="form-control" placeholder="Last Name" data-ng-model="additionalTraveler.lastName" required data-ng-maxlength="40" />
                        <div data-ng-show="additionalTravelerForm.lastName.$invalid && additionalTravelerForm.lastName.$touched">
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.lastName.$error.required" ng-bind="vm.errors.traveler.lastName.req"></span>                            
                        </div>
                        <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.lastName.$error.maxlength">Last Name cannot be over 40 characters</span>
                </div>
                <div class="form-group col-sm-4 col-lg-3">
                    <div class="input-group">
                        <input type="text" name="dateOfBirth" id="travelBirthDate_{{$index}}" class="form-control" data-ng-model="additionalTraveler.birthDate"
                               ng-required="true" placeholder="Date of Birth"
                       data-is-open="vm['focusTravelerBirthDate_' + $index]"
                       data-datepicker-popup="MM/dd/yyyy"
                       data-date-picker
                               data-valid-traveler-age="" data-validate-eighteen="false"
                                   data-age-min="{{vm.state.packageStateConfig.minimumAge}}" data-age-max="{{vm.state.packageStateConfig.maximumAge}}"
                               data-ng-keyup="keypressCallback($event)"
                               data-min-date="minDate" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vm.openTravelerDatePicker($event, $index)">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>

                        </span>
                    </div>
                        <div data-ng-show="additionalTravelerForm.dateOfBirth.$invalid && additionalTravelerForm.dateOfBirth.$touched">
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.dateOfBirth.$error.validDate" ng-bind="vm.errors.traveler.birthdate.format"></span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.dateOfBirth.$error.required" ng-bind="vm.errors.traveler.birthdate.req"></span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.dateOfBirth.$error.minDate" ng-bind="vm.errors.traveler.birthdate.min"></span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.dateOfBirth.$error.maxDate" ng-bind="vm.errors.traveler.birthdate.max"></span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.dateOfBirth.$error.date" ng-bind="vm.errors.traveler.birthdate.format"></span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.dateOfBirth.$error.ageMin" ng-bind="vm.errors.traveler.birthdate.ageMin"></span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.dateOfBirth.$error.ageMax" ng-bind="vm.errors.traveler.birthdate.ageMax"></span>
                        </div>
                </div>
                <div class="form-group col-sm-3 col-lg-2">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" name="tripCost" id="travelerTripCost_{{$index}}" class="form-control" placeholder="Trip Cost" data-ng-model="additionalTraveler.tripCost" required
                                   data-ng-min="{{vm.state.packageStateConfig.minimumTripCost}}" data-trip-max="{{vm.state.packageStateConfig.maximumTripCost}}" bhtp-mask-type="decimal"
                                   bhtp-mask="{{vm.costCurrencyMask}}" ng-keyup="keypressCallback($event)" data-ng-keydown="ignoreKeys($event)" />
                    </div>
                    <div data-ng-show="additionalTravelerForm.tripCost.$invalid && additionalTravelerForm.tripCost.$touched">
                        <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.tripCost.$error.required" ng-bind="vm.errors.trip.cost.req"></span>
                        <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.tripCost.$error.ngMin" ng-bind="vm.errors.trip.cost.min"></span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.tripCost.$error.tripMax" ng-bind="vm.errors.trip.cost.max"></span>
                    </div>
                </div>
                <div class="col-sm-1">
                    <a href="#" ng-show="{{!vm.readonly}}" ng-click="vm.removeTraveler($index)"><span class="fa fa-trash-o fa-2x icon-align-grid remove-travel"></span></a>
                </div>
            </div>
            </ng-form>
        </div>
    </div>
    <a href="#" data-ng-click="vm.addTraveler()"
       class="btn"
       data-ng-show="vm.state.policy.travelers.length<vm.state.packageStateConfig.maxTravelers">
        <span class="fa fa-plus-circle plus icon-align-text"></span> Add Traveler
    </a>
    <div class="row" ng-if="vm.state.policy.travelers.length==vm.state.packageStateConfig.maxTravelers && vm.state.policy.travelers.length > 0">
        <div class="col-xs-12">
            <p>{{vm.errors.traveler.maxTravelers.maxNumberMessage}}</p>
        </div>
    </div>
    <hr />
    <h4>Trip</h4>
    <div data-ng-form="tripForm">
    <div class="row">
        <div class="form-group col-sm-4 col-lg-3">
            <label for="destinationCountry">Destination Country</label>
            <input name="destinationCountry" class="form-control" autocomplete="off" spellcheck="false" placeholder="Destination Country"
                   required data-ng-model="vm.state.policy.destination.countryModel" data-disallow-free-form="true"
                   data-bhtp-auto-complete="{{vm.lookupDataUrl.country}}" data-entity="vm.state.policy.destination.country"
                   data-display-key="name" data-id-key="salesForceId" />
                    <div data-ng-show="tripForm.destinationCountry.$invalid && tripForm.destinationCountry.$touched">
                <span class="help-block haserrorfieldlevel"
                          data-ng-show="tripForm.destinationCountry.$error.required || tripForm.destinationCountry.$error.invalid">
                    Please Select a Destination Country.
                </span>
            </div>
        </div>
        <div class="form-group col-sm-5 col-lg-3">
            <label for="depositDate">Deposit Date</label>
            <div class="input-group">
                <input type="text" name="depositDate" id="depositDate" placeholder="Deposit Date" class="form-control" data-ng-model="vm.state.policy.depositDate"
                       ng-required="true" data-valid-date-before="vm.validDepositDate"
                           data-days-from-date="vm.state.packageStateConfig.daysFromInitialDepositDate"
                       data-is-open="vm.datePickers['depositDate']"
                       data-datepicker-popup="MM/dd/yyyy"
                       data-date-picker ng-keyup="keypressCallback($event)" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="vm.openDatePicker($event, 'depositDate')">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
            </div>
                    <div data-ng-show="tripForm.depositDate.$invalid && tripForm.depositDate.$touched">
                    <span class="help-block haserrorfieldlevel" data-ng-show="tripForm.depositDate.$error.required" ng-bind="vm.errors.trip.depositDate.req"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="tripForm.depositDate.$error.dateBefore" ng-bind="vm.errors.trip.depositDate.min"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="tripForm.depositDate.$error.date" ng-bind="vm.errors.trip.depositDate.format"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="tripForm.depositDate.$error.mindate" ng-bind="vm.errors.trip.depositDate.mindate"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="tripForm.depositDate.$error.daysFromDate" ng-bind="vm.errors.trip.depositDate.daysFromDepositDate"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4 col-lg-3">
            <label for="departureDate">Departure Date</label>
            <div class="input-group">
                <input type="text" name="departureDate" id="departureDate" class="form-control" placeholder="Departure Date" data-ng-model="vm.state.policy.departureDate" ng-keyup="vm.isEditPage=false;keypressCallback($event)" ng-mousedown="vm.isEditPage=false"
                       data-is-open="vm.datePickers['departureDate']"
                       required data-valid-date-after="vm.validDepartureDate" data-valid-date-before="vm.state.policy.returnDate"
                       data-datepicker-popup="MM/dd/yyyy"
                       data-date-picker
                       date-type="string" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="vm.openDatePicker($event, 'departureDate')" ng-keyup="vm.isEditPage=false" ng-mouseleave="vm.isEditPage=false">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
            </div>
            <div data-ng-show="tripForm.departureDate.$invalid && tripForm.departureDate.$touched">
                <span class="help-block haserrorfieldlevel" data-ng-show="tripForm.departureDate.$error.required" ng-bind="vm.errors.trip.departure.req"></span>
                <span class="help-block haserrorfieldlevel" data-ng-show="tripForm.departureDate.$error.dateAfter" ng-bind="vm.errors.trip.departure.min"></span>
                <span class="help-block haserrorfieldlevel" data-ng-show="tripForm.departureDate.$error.dateBefore || tripForm.returnDate.$error.dateAfter" ng-bind="vm.errors.trip.departure.max"></span>
                <span class="help-block haserrorfieldlevel" data-ng-show="tripForm.departureDate.$error.date" ng-bind="vm.errors.trip.departure.format"></span>
            </div>
        </div>
        <div class="form-group col-sm-4 col-lg-3">
            <label for="returnDate">Return Date</label>
            <div class="input-group">
                <input type="text" name="returnDate" id="returnDate" class="form-control" placeholder="Return Date" data-ng-model="vm.state.policy.returnDate" ng-keyup="vm.isEditPage=false;keypressCallback($event)" ng-mouseleave="vm.isEditPage=false"
                       data-is-open="vm.datePickers['returnDate']"
                       required data-valid-date-after="vm.state.policy.departureDate"
                       data-valid-trip-length
                       data-departure-date="vm.state.policy.departureDate"
                           data-max-trip-length="vm.state.packageStateConfig.maximumTripLength"
                           data-min-trip-length="vm.state.packageStateConfig.minimumTripLength"
                       data-datepicker-popup="MM/dd/yyyy"
                       data-date-picker />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="vm.openDatePicker($event, 'returnDate')" ng-keyup="vm.isEditPage=false" ng-mouseleave="vm.isEditPage=false">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
            </div>
                    <div data-ng-show="tripForm.returnDate.$invalid && tripForm.returnDate.$touched">
                    <span class="help-block haserrorfieldlevel" data-ng-show="tripForm.returnDate.$error.required" ng-bind="vm.errors.trip.returnDate.req"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="tripForm.returnDate.$error.tripLengthMin" ng-bind="vm.errors.trip.returnDate.tripLengthMin"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="tripForm.returnDate.$error.tripLengthMax" ng-bind="vm.errors.trip.returnDate.tripLengthMax"></span>
                    <span class="help-block haserrorfieldlevel" data-ng-show="tripForm.returnDate.$error.date" ng-bind="vm.errors.trip.returnDate.format"></span>
            </div>
        </div>

    </div>
</div>
</div>