<div class="row">
    <div class="col-lg-9 col-md-8">
        <h4>Primary Traveler</h4>
        <div class="row">
            <div class="col-lg-11 col-md-12 col-sm-12">
                <div class="row">
                    <div class="form-group col-md-2 col-sm-2">
                        <label>Age</label>
                        <input name="age" class="form-control" data-ng-model="vm.state.policy.primary.age" data-ng-disabled="true" />
                    </div>
                    <div class="form-group col-md-4 col-sm-4">
                        <label>Date Of Birth</label>
                        <div class="input-group">
                            <input type="text" name="birthDate" class="form-control" data-ng-model="vm.state.policy.primary.birthDate"
                                   data-is-open="vm.focusBirthDate"
                                   required data-valid-date-after="vm.validStartBirthDate(vm.state.policy.primary.age)"
                                   data-valid-date-before="vm.validEndBirthDate(vm.state.policy.primary.age)"
                                   data-datepicker-popup="MM/dd/yyyy"
                                   data-date-picker
                                   data-ng-disabled="true" />
                            <span class="input-group-btn">
                                <button data-ng-disabled="true" class="btn btn-default" type="button" ng-click="vm.openDatePicker($event, 'focusBirthDate')">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </span>
                        </div>
                        <div data-ng-show="vm.getCurrentForm().birthDate.$invalid && vm.getCurrentForm().birthDate.$touched">
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().birthDate.$error.required" ng-bind="vm.errors.traveler.birthdate.req"></span>
                        </div>
                        <span class="help-block haserrorfieldlevel"
                              data-ng-show="vm.getCurrentForm().birthDate.$error.dateAfter || vm.getCurrentForm().birthDate.$error.dateBefore">
                            Date Of Birth does not match the age provided.
                        </span>
                    </div>
                    <div class="form-group col-md-2 col-sm-3">
                        <label>Gender</label>
                        <select name="gender" class="form-control" data-ng-model="vm.state.policy.primary.gender" required
                                data-ng-options="gender.code as gender.name for gender in vm.genders"
                                data-ng-init="vm.state.policy.primary.gender = vm.state.policy.primary.gender || null"></select>
                        <div data-ng-show="vm.getCurrentForm().gender.$invalid && vm.getCurrentForm().gender.$touched">
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().gender.$error.required" ng-bind="vm.errors.traveler.gender.req"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8 col-sm-9">
                        <label>Address Line 1</label>
                        <input name="addressLine1" class="form-control" data-ng-model="vm.state.policy.primary.address.address1" required ng-maxlength="50" />
                        <div data-ng-show="vm.getCurrentForm().addressLine1.$invalid && vm.getCurrentForm().addressLine1.$touched">
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().addressLine1.$error.required" ng-bind="vm.errors.traveler.address1.req"></span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().addressLine1.$error.maxlength">Max length for Address is 50 characters</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8 col-sm-9">
                        <label>Address Line 2</label>
                        <input name="addressLine2" class="form-control" data-ng-model="vm.state.policy.primary.address.address2" ng-maxlength="50" />
                        <div data-ng-show="vm.getCurrentForm().addressLine2.$invalid && vm.getCurrentForm().addressLine2.$touched">
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().addressLine2.$error.maxlength">Max length for Address is 50 characters</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 col-sm-4">
                        <label>City</label>
                        <input name="city" class="form-control" data-ng-model="vm.state.policy.primary.address.city" required ng-maxlength="40" />
                        <div data-ng-show="vm.getCurrentForm().city.$invalid && vm.getCurrentForm().city.$touched">
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().city.$error.required" ng-bind="vm.errors.traveler.city.req"></span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().city.$error.maxlength" ng-bind="vm.errors.traveler.city.length"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-sm-3">
                        <label>State</label>
                        <input name="state" class="form-control" data-ng-model="vm.state.policy.primary.address.stateOrProvince" data-ng-disabled="true" />
                    </div>
                    <div class="form-group col-md-2 col-sm-2">
                        <label>Postal Code</label>
                        <input name="postalCode" class="form-control" data-ng-model="vm.state.policy.primary.address.postalCode" required data-valid-zip-code="" data-state="vm.state.policy.primary.address.stateOrProvince"
                               bhtp-mask="{{vm.postalCodeMask}}" />
                        <div data-ng-show="vm.getCurrentForm().postalCode.$invalid && vm.getCurrentForm().postalCode.$touched">
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().postalCode.$error.required" ng-bind="vm.errors.traveler.postalCode.req"></span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().postalCode.$error.validZip" ng-bind="vm.errors.traveler.postalCode.valid"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-sm-2">
                        <label>Trip Cost</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" name="tripCost" id="tripCost" class="form-control" placeholder="Trip Cost" data-ng-model="vm.state.policy.primary.tripCost" required
                                   data-trip-max="100000" bhtp-mask-type="decimal" bhtp-mask="{{vm.costCurrencyMask}}" 
                                   ng-keyup="keypressCallback($event)"
                                   data-ng-keydown="ignoreKeys($event)" data-ng-keypress="tripCostChange()" />
                        </div>
                        <div data-ng-show="vm.getCurrentForm().tripCost.$invalid && vm.getCurrentForm().tripCost.$dirty">
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().tripCost.$error.required" ng-bind="vm.errors.trip.cost.req"></span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().tripCost.$error.ngMin" ng-bind="vm.errors.trip.cost.min"></span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().tripCost.$error.tripMax">
                                Trip cost should be less than 100,000 per traveler.
                            </span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().tripCost.$error.positiveNumberTrip">
                                Trip Cost cannot be less than $0..
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Policy Buyer -->
        <policy-buyer-switch initial-value="vm.state.primaryTravelerIsPolicyBuyer"
                             on-state-changed="vm.policyBuyerSwitchChanged"></policy-buyer-switch>
        <hr ng-if="!vm.state.primaryTravelerIsPolicyBuyer" />
        <policy-buyer ng-if="!vm.state.primaryTravelerIsPolicyBuyer"
                      policy-buyer="vm.state.policyBuyer"
                      states="vm.state.stateOptions"></policy-buyer>

        <h4 data-ng-show="vm.state.policy.travelers.length > 0">Additional Travelers</h4>
        <div class="row option-coverage-panels" style="margin-right:0;" data-ng-repeat="additionalTraveler in vm.state.policy.travelers">
            <ng-form name="additionalTravelerForm">
                <div class="col-md-12">
                    <div class="form-group col-lg-3 col-sm-5">
                        <label>First Name</label>
                        <input type="text" name="travelerFirstName" class="form-control" data-ng-model="additionalTraveler.firstName" required>
                        <span data-ng-show="additionalTravelerForm.travelerFirstName.$invalid && additionalTravelerForm.travelerFirstName.$touched">
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.travelerFirstName.$error.required" ng-bind="vm.errors.traveler.firstName.req"></span>
                        </span>
                    </div>
                    <div class="form-group col-lg-3 col-sm-5">
                        <label>Last Name</label>
                        <input type="text" name="travelerLastName" class="form-control" data-ng-model="additionalTraveler.lastName" required>
                        <span data-ng-show="additionalTravelerForm.travelerLastName.$invalid && additionalTravelerForm.travelerLastName.$touched">
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.travelerLastName.$error.required" ng-bind="vm.errors.traveler.lastName.req"></span>
                        </span>
                    </div>
                    <div class="form-group col-lg-3 col-sm-4">
                        <label>Date of Birth</label>
                        <div class="input-group">
                            <input type="text" name="travelerBirthDate" class="form-control" data-ng-model="additionalTraveler.birthDate"
                                   data-is-open="additionalTraveler.isDatePickerOpen"
                                   required data-valid-date-after="vm.validStartBirthDate(additionalTraveler.age)"
                                   data-valid-date-before="vm.validEndBirthDate(additionalTraveler.age)"
                                   data-datepicker-popup="MM/dd/yyyy"
                                   data-date-picker
                                   data-ng-disabled="true" />
                            <span class="input-group-btn">
                                <button data-ng-disabled="true" class="btn btn-default" type="button" ng-click="vm.openPicker($event, additionalTraveler)">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </span>
                        </div>
                        <span data-ng-show="additionalTravelerForm.travelerBirthDate.$invalid && additionalTravelerForm.travelerBirthDate.$touched">
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.travelerBirthDate.$error.required" ng-bind="vm.errors.traveler.birthdate.req"></span>
                            <span class="help-block haserrorfieldlevel"
                                  data-ng-show="additionalTravelerForm.travelerBirthDate.$error.dateAfter || additionalTravelerForm.travelerBirthDate.$error.dateBefore">
                                Date Of Birth does not match the age provided.
                            </span>
                        </span>
                    </div>
                    <div class="form-group col-sm-2 col-lg-1">
                        <label>Age</label>
                        <input type="text" class="dark-disabled form-control" data-ng-model="additionalTraveler.age" data-ng-disabled="true">
                    </div>
                    <div class="pull-right">
                        <a href="#" ng-show="{{!vm.readonly}}" ng-click="vm.removeTraveler($index)"><span class="fa fa-trash-o fa-2x icon-align-grid" style="margin-top:20px;"></span></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-lg-3 col-sm-4 ">
                        <label>
                            Relationship to Primary
                            <span ng-if="vm.relationshipWarning!=''">
                                <a id="toolTip" tooltip="{{vm.relationshipWarning}}" style="text-decoration:none">
                                    &nbsp;
                                    <span class="fa fa-question-circle"></span><span class="hidden-xs"></span>
                                </a>
                            </span>
                        </label>
                        <select name="relationToPrimary" class="form-control" data-ng-model="additionalTraveler.relationship" required>
                            <option value="">Select</option>
                            <option ng-disabled="!relation.isActive" ng-repeat="relation in vm.relations" ng-selected="additionalTraveler.relationship==relation.content" value="{{relation.content}}">{{relation.title}}</option>
                        </select>
                        <span data-ng-show="additionalTravelerForm.relationToPrimary.$invalid && additionalTravelerForm.relationToPrimary.$touched">
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.relationToPrimary.$error.required">{{vm.errors.traveler.relationship.req}}</span>
                        </span>
                    </div>
                    <div class="form-group col-lg-4 col-sm-7">
                        <label>Email Address</label>
                        <input type="text" class="form-control" data-ng-model="additionalTraveler.email" placeholder="Optional">
                    </div>
                    <div class="form-group col-lg-2 col-sm-3">
                        <label>Trip Cost</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" name="tripCost" id="travelerTripCost_{{$index}}" class="form-control" placeholder="Trip Cost" data-ng-model="additionalTraveler.tripCost" required
                                   data-trip-max="100000" bhtp-mask-type="decimal" bhtp-mask="{{vm.costCurrencyMask}}"
                                   ng-keyup="keypressCallback($event)" data-ng-keydown="ignoreKeys($event)" data-ng-keypress="tripCostChange()" />
                        </div>
                        <div data-ng-show="additionalTravelerForm.tripCost.$invalid && additionalTravelerForm.tripCost.$touched">
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.tripCost.$error.required" ng-bind="vm.errors.trip.cost.req"></span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.tripCost.$error.ngMin" ng-bind="vm.errors.trip.cost.min"></span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.tripCost.$error.tripMax">
                                Trip cost should be less than 100,000 per traveler.
                            </span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="additionalTravelerForm.tripCost.$error.positiveNumberTrip">
                                Trip Cost cannot be less than $0..
                            </span>
                        </div>
                    </div>
                </div>
            </ng-form>
        </div>

        <hr />
        <h4>Trip</h4>
        <div class="row">
            <div class="form-group col-lg-4 col-sm-6">
                <label>Country</label>
                <input name="destinationCountry" class="form-control" data-ng-model="vm.state.policy.destination.country.name" data-ng-disabled="true" />
            </div>
            <div class="form-group col-lg-4 col-sm-6" data-ng-hide="vm.ready && !vm.isDestinationStateRequired()">
                <label>Destination State/Province</label>
                <select name="destinationState" class="form-control" data-ng-model="vm.state.policy.destination.state"
                        ng-required="vm.ready && vm.isDestinationStateRequired()" data-ng-options="state.code as state.name for state in vm.usStates">
                    <option value="">Select State</option>
                </select>
                <div data-ng-show="vm.getCurrentForm().destinationState.$invalid && vm.getCurrentForm().destinationState.$touched">
                    <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().destinationState.$error.required" ng-bind="vm.errors.trip.state.req"></span>
                </div>
            </div>
            <div class="form-group col-lg-3 col-sm-6">
                <label>City</label>
                <input name="destinationCity" class="form-control" data-ng-model="vm.state.policy.destination.city" placeholder="{{vm.optionalText}}" data-ng-maxlength="40" />
                <div data-ng-show="vm.getCurrentForm().destinationCity.$invalid && vm.getCurrentForm().destinationCity.$touched">
                    <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().destinationCity.$error.maxlength" ng-bind="vm.errors.trip.city.length"></span>
                </div>
            </div>
        </div>

        <hr />

        <div class="row col-md-12">
            <h4 class="pull-left">
                Trip Suppliers
            </h4>
            <div class="pull-left link-inline">
                <a ng-href="{{$root.config.CLIENT_CONSUMER_DOMAIN}}/a/blocklists" target="_blank">View Blocked Providers</a>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Airline</label>
                <div class="checkbox-inline pull-right">
                    <label class="label-cutm">
                        <input type="checkbox" data-ng-model="vm.state.policy.travel.airlineNotProvided" data-ng-change="vm.clearAirlineInputOnChange()">No airline
                    </label>
                </div>
                <input name="airline" class="form-control" autocomplete="off" placeholder="{{vm.state.policy.travel.airlineNotProvided ? '' : vm.requiredText}}" spellcheck="false"
                       ng-required="!vm.state.policy.travel.airlineNotProvided" data-ng-model="vm.state.policy.travel.airlineModel" data-disallow-free-form="false"
                       data-bhtp-auto-complete="{{vm.lookupDataUrl.airline}}" data-entity="vm.state.policy.travel.airline" ng-blur="checkAirline()"
                       data-display-key="name" data-id-key="salesForceId" />
                <div data-ng-show="vm.getCurrentForm().airline.$invalid && vm.getCurrentForm().airline.$touched">
                    <span class="help-block haserrorfieldlevel"
                          data-ng-show="vm.getCurrentForm().airline.$error.required" ng-bind="vm.errors.provider.airline.req"></span>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label>Tour Operator</label>
                <input name="tourOperator" class="form-control" placeholder="{{vm.optionalText}}" autocomplete="off" spellcheck="false"
                       data-bhtp-auto-complete="{{vm.lookupDataUrl.tourOperator}}" data-entity="vm.state.policy.travel.tourOperator"
                       data-display-key="name" data-id-key="salesForceId"
                       data-ng-model="vm.state.policy.travel.tourOperatorModel" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Car Rental Company</label>
                <input name="carRentalCompany" class="form-control"
                       autocomplete="off" spellcheck="false" placeholder="{{vm.state.policy.travel.carPickupDate != null ? '' : vm.optionalText}}"
                       ng-required="vm.ready && vm.needsCarRentalName()" data-ng-model="vm.state.policy.travel.carRentalCompanyModel"
                       data-bhtp-auto-complete="{{vm.lookupDataUrl.carRentalCompany}}" data-entity="vm.state.policy.travel.carRentalCompany"
                       data-display-key="name" data-id-key="salesForceId" />
                <div data-ng-show="vm.getCurrentForm().carRentalCompany.$invalid && vm.getCurrentForm().carRentalCompany.$touched">
                    <span class="help-block haserrorfieldlevel" data-ng-show="vm.getCurrentForm().carRentalCompany.$error.required" ng-bind="vm.errors.provider.carRental.req"></span>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label>Hotel</label>
                <input name="hotel" class="form-control" placeholder="{{vm.optionalText}}" autocomplete="off" spellcheck="false"
                       data-bhtp-auto-complete="{{vm.lookupDataUrl.hotel}}" data-entity="vm.state.policy.travel.hotel"
                       data-display-key="name" data-id-key="salesForceId"
                       data-ng-model="vm.state.policy.travel.hotelModel" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Cruise Line</label>
                <input name="cruiseLine" class="form-control" placeholder="{{vm.optionalText}}" autocomplete="off" spellcheck="false"
                       data-bhtp-auto-complete="{{vm.lookupDataUrl.cruiseLine}}" data-entity="vm.state.policy.travel.cruiseLine"
                       data-display-key="name" data-id-key="salesForceId"
                       data-ng-model="vm.state.policy.travel.cruiseLineModel" />
            </div>
            <div class="form-group col-sm-6">
                <label>Rental Company</label>
                <input name="rentalCompany" class="form-control" placeholder="{{vm.optionalText}}" autocomplete="off" spellcheck="false"
                       data-bhtp-auto-complete="{{vm.lookupDataUrl.rentalCompany}}" data-entity="vm.state.policy.travel.rentalCompany"
                       data-display-key="name" data-id-key="salesForceId"
                       data-ng-model="vm.state.policy.travel.rentalCompanyModel" />
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <div ng-include="'app/purchase/exactcare/exactcare.price.html'"></div>
    </div>
</div>
