<section data-ng-controller="policiesController as vm">
    <div>
        <h2>{{vm.title}}</h2>
        <div class="row filter-bar">
            <div class="col-md-3 form-group">
                    <label for="search">Search</label>
                <input type="text" class="form-control" name="search" placeholder="Search" data-ng-model="vm.searchText" data-ng-change="vm.searchChanged();">
            </div>
            <div class="form-group" ng-class="vm.agent.isSuperUser ? 'col-md-1' : 'col-md-3'">
            </div>
            <div class="col-md-2 form-group">
                <label for="productFilter">Show</label>
                <select class="form-control" name="productFilter"
                        data-ng-model="vm.filteredProduct"
                        data-ng-options="product.value as product.name for product in vm.products"
                        data-ng-change="vm.filterChanged();"></select>
            </div>
            <div class="col-md-2 form-group">
                <label for="dateFilter">Date Range</label>
                <select class="form-control" name="dateFilter"
                        data-ng-model="vm.filteredDate"
                        data-ng-options="dateFilter.interval as dateFilter.name for dateFilter in vm.dateFilters"
                        data-ng-change="vm.filterChanged();"></select>
            </div>
            <div class="col-md-2 form-group" ng-if="vm.agent.isSuperUser">
                <label for="search">Agent</label>
                <select class="form-control"
                        name="selectedAgent"
                        data-ng-model="vm.filteredAgent"
                        data-ng-options="agent.agentName for agent in vm.agents track by agent.agentId"
                        data-ng-change="vm.filterChanged()">
                    <option value="">Select Agent</option>
                </select>
            </div>
            <div class="col-md-2 form-group">
                <label for="statusFilter">Status</label>
                <select class="form-control" name="statusFilter"
                        data-ng-model="vm.filteredStatus"
                        data-ng-options="status.value as status.name for status in vm.statusList"
                        data-ng-change="vm.filterChanged();"></select>
            </div>
        </div>
        <div ng-if="vm.ready">
            <div data-bhtp-grid-directive=""
                 data-grid-config="vm.gridConfig"
                 data-load-data="vm.loadData()" data-custom-filters="vm.getCustomFilters()"
                 data-search-text="vm.searchText" data-selected="[]"
                 data-reload-data-flag="vm.reloadDataFlag"
                 data-refresh-data-flag="vm.refreshDataFlag"
                 data-only-active-flag="false">
            </div>
        </div>
    </div>
</section>