<section id="policyDetail" data-ng-controller="policyDetailController as vm" >
    <div>
        <div class="row page-header">
            <div class="col-sm-6">
                <h2>Policy #{{vm.policyNumber}}</h2>
                <div data-ng-hide="vm.showPayMethod" class="haserrorfieldlevel">
                    {{vm.policyError}}
                </div>
            </div>
            <div class="col-sm-6 edit-action-btn">
                <button type="submit" id="btn_start_claim" class="btn btn-lg btn-default btn-cust-sec bg-ok" data-ng-show="vm.policyDetail.canClaim" data-ng-click="vm.goToFnol()">Start a Claim</button>
                <button type="submit" id="btn_cancel_policy" class="btn btn-lg btn-default btn-cust-sec" data-ng-show="vm.policyDetail.canBeCancelled" data-ng-click="vm.showCancelPolicyModal(vm.policyDetail)">Cancel</button>
                <button type="submit" id="btn_resend_policy" class="btn btn-lg btn-default btn-cust-sec" data-ng-show="vm.isEmailQuote" data-ng-click="vm.resendPolicyDocs(vm.policyDetail)">Resend</button>
                <button type="button" id="btn_print_policyDocument" class="btn btn-lg btn-default btn-cust-sec" data-ng-show="vm.policyDetail.policyDocumentLink" data-ng-click="vm.goToPolicyDocuments()">Policy Documents</button>
                <button type="submit" id="btn_edit_policy" class="btn btn-lg btn-default btn-cust" data-ng-show="vm.policyDetail.canBeEdited" data-ng-click="vm.editPolicy(vm)">Edit</button>
            </div>
        </div>
        <div id="policy-details-top" data-ng-include="'app/policies/policy.detail.top.html'"></div>
        <div data-ng-show="vm.showMidSection()"><div data-ng-include="'app/policies/policy.detail.mid.html'"></div></div>
        <div data-ng-include="'app/policies/policy.detail.coverage.html'"></div>
    </div>
</section>