<div class="row" data-ng-show="vm.coverages.all.length > 0">
    <div class="col-md-12">
        <h3>Policy Coverages</h3>
    </div>
    <div data-ng-show="!vm.showCoverageBreakup" class="table-responsive col-md-6">
        <table class="table">
            <tbody>
                <tr data-ng-repeat="coverage in vm.coverages.all">
                    <td width="65%">{{coverage.name}}</td>
                    <!--<td>{{coverage.coverageLimit | currency}}</td>-->
                </tr>
            </tbody>
        </table>
    </div>
    <div data-ng-show="vm.showCoverageBreakup">
        <div class="table-responsive col-md-6" data-ng-show="vm.coverages.included.length > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Included</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="coverage in vm.coverages.included"
                            class="{{vm.getRowIndexClass($index)}} {{vm.getDataRowClass(coverage.acknowledgements)}}">
                        <td width="65%">{{coverage.name}}</td>
                        <td></td>
                    </tr>
                    <tr ng-repeat-end
                            class="view-acknowledgements {{vm.getRowIndexClass($index)}}"
                            ng-if="coverage.acknowledgements && coverage.acknowledgements.length > 0">
                        <td colspan="2">
                            <view-acknowledgements acknowledgements="coverage.acknowledgements">
                            </view-acknowledgements>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive col-md-6" data-ng-show="vm.coverages.optional.length > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Optional</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="coverage in vm.coverages.optional">
                        <td width="65%">{{coverage.name}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>