<div class="bhtp-custom-modal bhtpPopup" id="message-modal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-header">
        <h4 id="myModalLabel" class="modal-header-h4">
            {{ vm.titleText() }}
        </h4>
    </div>
    <div class="modal-body" style="padding: 25px 15px 0 15px">
        <h4 ng-if="vm.tripBlockedMessage()">{{ vm.tripBlockedMessage() }}</h4>
        <message-display ng-if="vm.messages()"
                         ng-repeat="message in vm.messages()" 
                         api-message="message" 
                         on-acknowledgement-accepted="vm.onAcknowledgementAccepted"
                         on-acknowledgement-unaccepted="vm.onAcknowledgementUnaccepted">
        </message-display>
        <div ng-if="vm.formattedNotificationMessage()" ng-bind-html="vm.formattedNotificationMessage()">
        </div>
    </div>
    <div class="modal-footer">
        <div class="button-area-prompt" ng-if="vm.buttonAreaPromptMessage()">
            {{ vm.buttonAreaPromptMessage() }}
        </div>
        <button type="button" ng-if="vm.hasCancelButtonText()" class="btn btn-lg btn-default btn-cust" ng-click="vm.closeModal(false)">
            {{ vm.cancelButtonText() }}
        </button>
        <button type="button" class="btn btn-lg btn-default btn-cust" ng-click="vm.continueClicked()">
            {{ vm.continueButtonText() }}
        </button>
    </div>
</div>
