<div class="row">
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-6">
        <h2 class="todolabel">{{title}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-9 col-sm-12 col-xs-12">
        <table class="table todo">
            <tbody>
                <tr data-ng-hide="todos || todos.length > 0">
                    <td colspan="10">
                        <div class="text-center"><strong>Congratulations, you have no tasks!</strong></div>
                    </td>
                </tr>
                <tr data-ng-repeat="todo in todos track by $index" ng-switch="todo.mediaType">
                    <td width="3%">
                        <span ng-if="!todo.complete">
                            <i ng-switch-when="Video" class="fa fa-play-circle"></i>
                            <i ng-switch-when="Audeo" class="fa fa-music"></i>
                            <i ng-switch-when="Document" class="fa fa-file-text"></i>
                            <i ng-switch-when="Image" class="fa fa-file-text"></i>
                            <i ng-switch-default class="fa fa-play-circle"></i>
                        </span>
                        <span ng-if="todo.complete">
                            <i class="fa fa-check-circle"></i>
                        </span>
                    </td>
                    <td>
                        <div data-ng-click="todoClicked(todo)">
                            <a href="#">{{ todo.fileName || todo.title }} : {{todo.description}}</a>
                        </div>
                    </td>
                    <td width="2%"><span>{{todo.length}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
