<div class="batchUpload">
    <form name="vm.batchForm" ng-submit="vm.onBatchFormSubmit()" novalidate>
        <div class="row">
            <div class="col-xs-12 no-padding">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Batch Policy Manager</h2>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary pull-right" ng-click="vm.onCreateBatchClick()">Create New Batch</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 no-padding">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <select ng-change="vm.statusFilterUpdated()" ng-init="vm.statusFilter = vm.statusPool[0]" ng-model="vm.statusFilter" ng-options="status for status in vm.statusPool"></select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 no-padding">
                <div class="row">
                    <div class="col-sm-12">
                        <div data-bhtp-grid-directive=""
                             data-grid-config="vm.gridConfig"
                             data-load-data="vm.loadData()"
                             data-search-text="vm.searchText"
                             data-selected="[]"
                             data-reload-data-flag="vm.reloadDataFlag"
                             data-refresh-data-flag="vm.refreshDataFlag"
                             data-only-active-flag="true"
                             data-page-size="5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="vm.batch">
            <div class="col-xs-12">
                <div class="row batch-edit-header">
                    <div class="col-xs-6 col-md-4 no-padding">
                        <label>Batch Name:</label>
                        <input
                            id="batch-name-input"
                            class="form-control"
                            name="batchName"
                            required
                            maxlength="50"
                            placeholder="Enter a Batch Name"
                            ng-model="vm.batch.batchName"
                            ng-change="vm.onBatchNameChange()"/>
                        <div data-ng-show="vm.batchForm.batchName.$invalid && (vm.batchForm.batchName.$touched || vm.batchForm.$submitted)">
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.batchForm.batchName.$error.maxlength">Max length for Batch Name is 50 characters</span>
                            <span class="help-block haserrorfieldlevel" data-ng-show="vm.batchForm.batchName.$error.required">Batch Name is required</span>
                        </div>
                        <span class="help-block haserrorfieldlevel" data-ng-show="vm.duplicateError">{{ vm.duplicateError.text }}</span>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <label>Status:</label>
                        <span id="batch-status-output" name="batchStatus">{{vm.batch.status}}</span>
                    </div>
                    <div class="col-xs-12 col-md-5 btn-toolbar pull-right">
                        <input type="button" class="btn btn-lg btn-cust pull-right" value="Upload File" ng-show="vm.configuration.canUploadFile" ng-click="vm.onFileUploadClick();" />
                        <input type="button" class="btn btn-lg btn-cust pull-right" value="Get Import Template" ng-show="vm.configuration.canUploadFile" ng-click="vm.onDownloadTemplateClick();" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-12">
                        <table-edit
                            config="vm.configuration.tableConfig"
                            rows="vm.batch.rows"
                            content-template="vm.contentTemplate"
                            control="vm.batchTableControl"
                            new-row-callback="vm.newRowCallback"
                            table-ready="vm.batchTableReady"
                            on-row-blurred="vm.rowBlurred"
                            on-cell-blurred="vm.cellBlurred"></table-edit>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-3 no-padding">
                        <input type="submit" class="btn btn-lg btn-cust" value="Save" ng-show="vm.configuration.canSave" />
                        <input type="button" class="btn btn-lg btn-cust" value="Close" ng-show="vm.configuration.canClose" ng-click="vm.onBatchCloseClick();" />
                        <input type="button" class="btn btn-lg btn-cust" value="Submit" ng-show="vm.configuration.canSubmit" ng-click="vm.onBatchSubmitClick();" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>