<div class="panel-primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header modal-heading">
        <button type="button" class="close" aria-hidden="true" data-ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Unsaved Changes</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <i class="fa fa-exclamation-triangle text-danger"></i>
                <span>You have unsaved changes. What would you like to do?</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg  btn-cust-sec" data-ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-lg  btn-cust-sec" data-ng-click="discard()">Discard Changes</button>
        <button type="button" id="btn_save_close" class="btn btn-lg btn-primary" data-ng-click="saveAndClose()">{{continueText || "Save and Close"}}</button>
    </div>
</div>