<div class="panel-primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header modal-heading">
        <button type="button" class="close" aria-hidden="true" data-ng-click="ok()">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <ul ng-if="messages.length > 1">
            <li ng-repeat="message in messages">{{message}}</li>
        </ul>
        <div class="row" ng-if="messages.length <= 1">
            <div class="col-md-12">
                <i class="fa fa-exclamation-triangle text-danger"></i>
                <span>{{messages[0]}}</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-primary" data-ng-click="ok()">Okay</button>
    </div>
</div>