<h1 ng-cloak style="padding-left:14px;">{{vm.packageName}} Policy# {{vm.policyNumber}}</h1>
<div ng-if="vm.generalError" style="padding-left:14px;">
    <div class="row">
        <div class="col-sm-8">
            <div class="well well-alert well-danger">
                <i class="fa fa-large fa-exclamation-circle"></i><span ng-bind="vm.errorDetails.content"></span>
            </div>
        </div>
    </div>
</div>
<form name="fnolForm" id="fnolForm" ng-if="!vm.claimsConfigError" ng-submit="vm.submitFnol(fnolForm.$valid, vm.fnol.fraud)" novalidate="">
    <fieldset ng-show="!vm.formLoading && !vm.stopFnolError">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" data-ng-class="{'has-error': fnolForm.coverage.$invalid && (fnolForm.$submitted || fnolForm.coverage.$touched)}">
                    <label for="coverage" class="control-label">Claim Type</label>
                    <select name="coverage"
                            id="coverage"
                            class="form-control"
                            ng-model="vm.fnol.coverage"
                            ng-options="coverage.shortName for coverage in vm.claimConfig.coverages"
                            ng-change="vm.resetForm(fnolForm)"
                            required>
                        <option value="">Choose a Claim Type</option>
                    </select>
                    <ng-messages for="fnolForm.coverage.$error" class="help-block" ng-if="fnolForm.coverage.$invalid && (fnolForm.$submitted || fnolForm.coverage.$touched)">
                        <ng-message when="required">Claim Type is required.</ng-message>
                    </ng-messages>
                </div>
            </div>
            <div class="col-sm-4" ng-if="vm.fnol.coverage.risks.length > vm.minCoverageGroup">
                <div class="form-group" data-ng-class="{'has-error': fnolForm.coverageGroup.$invalid && (fnolForm.$submitted || fnolForm.coverageGroup.$touched)}">
                    <label for="coverageGroup" class="control-label">Coverage Group</label>
                    <select name="coverageGroup" id="coverageGroup" class="form-control" ng-model="vm.coverageGroup"
                            ng-options="group for group in vm.fnol.coverage.riskGroups | orderBy:'toString()'"
                            required>
                        <option value="">Choose a Coverage Group</option>
                    </select>
                    <ng-messages for="fnolForm.coverageGroup.$error" class="help-block" ng-if="fnolForm.coverageGroup.$invalid && (fnolForm.$submitted || fnolForm.coverageGroup.$touched)">
                        <ng-message when="required">Coverage group is required.</ng-message>
                    </ng-messages>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" data-ng-class="{'has-error': fnolForm.cause.$invalid && (fnolForm.$submitted || fnolForm.cause.$touched)}">
                    <label for="cause" class="control-label">Cause</label>
                    <select name="cause" id="cause" class="form-control" ng-model="vm.fnol.risk"
                            ng-disabled="!vm.fnol.coverage || (vm.fnol.coverage.risks.length > vm.minCoverageGroup && !vm.coverageGroup)"
                            required>
                        <option value="">Choose a Cause</option>
                        <option ng-repeat="risk in vm.fnol.coverage.risks | filter: (!!vm.coverageGroup || '') && { groupName: vm.coverageGroup } as filteredRisks"
                                value="{{risk.riskId}}"
                                ng-selected="risk.riskId === vm.fnol.risk">
                            {{risk.riskName}}
                        </option>
                    </select>
                    <ng-messages for="fnolForm.cause.$error" class="help-block" ng-if="fnolForm.cause.$invalid && (fnolForm.$submitted || fnolForm.cause.$touched)">
                        <ng-message when="required">Cause is required.</ng-message>
                    </ng-messages>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-8" ng-if="!vm.canClaimFixedCoverage()">
            <p>We’re sorry… You are unable to select {{vm.fnol.coverage.shortName}} as a claim type as no flights were associated to your
                policy prior to your departure date. Please choose a different Claim Type. Questions? Call <a href="tel:844-411-BHTP">844-411-BHTP</a> 
                or email <a href="mailto:assist@bhtp.com">assist@bhtp.com</a></p>
        </div>
        <div class="row" ng-if="vm.canClaimFixedCoverage()">
            <div class="col-sm-4" ng-if="vm.requiredFields.indexOf('country_of_loss') > -1">
                <div class="form-group"
                     ng-class="{ 'has-error': (fnolForm.country.$touched || fnolForm.$submitted) && fnolForm.country.$invalid }">
                    <label for="country">Country of Loss</label>
                    <country-select id="country" name="country"
                                    bh-value="name"
                                    selected-value="vm.fnol.countryOfLoss"
                                    ng-disabled="!vm.fnol.risk"
                                    ng-required="vm.requiredFields.indexOf('country_of_loss') > -1">
                    </country-select>
                    <ng-messages class="help-block" role="alert" for="fnolForm.country.$error"
                                 ng-if="(fnolForm.country.$touched || fnolForm.$submitted) && fnolForm.country.$invalid">
                        <ng-message when="required">Country of Loss is required</ng-message>
                    </ng-messages>
                </div>
            </div>
            <div class="col-sm-4" ng-if="vm.requiredFields.indexOf('country_of_loss') > -1">
                <div class="form-group"
                     ng-class="{ 'has-error': (fnolForm.state.$touched || fnolForm.$submitted) && fnolForm.state.$invalid }">
                    <label for="state">State/Province of Loss</label>
                    <state-select id="state" name="state"
                                  bh-value="name"
                                  selected-value="vm.fnol.stateProvinceOfLoss"
                                  ng-disabled="!vm.fnol.risk || vm.fnol.countryOfLoss !== 'United States of America'"
                                  ng-required="vm.fnol.countryOfLoss === 'United States of America'">
                    </state-select>
                    <ng-messages class="help-block" role="alert" for="fnolForm.state.$error"
                                 ng-if="(fnolForm.state.$touched || fnolForm.$submitted) && fnolForm.state.$invalid">
                        <ng-message when="required">State/Province of Loss is required</ng-message>
                    </ng-messages>
                </div>
            </div>
            <div class="col-sm-4"
                 ng-if="vm.requiredFields.indexOf('city_of_loss') > -1">
                <div class="form-group"
                     ng-class="{ 'has-error': (fnolForm.city.$touched || fnolForm.$submitted) && fnolForm.city.$invalid }">
                    <label for="city">City of Loss</label>
                    <input type="text" id="city" name="city" class="form-control"
                           ng-model="vm.fnol.cityOfLoss"
                           ng-readonly="!vm.fnol.risk"
                           ng-required="vm.requiredFields.indexOf('city_of_loss') > -1" />
                    <ng-messages class="help-block" role="alert" for="fnolForm.city.$error"
                                 ng-if="(fnolForm.city.$touched || fnolForm.$submitted) && fnolForm.city.$invalid">
                        <ng-message when="required">City of Loss is required</ng-message>
                    </ng-messages>
                </div>
            </div>
        </div>
        <div class="row" ng-if="vm.canClaimFixedCoverage()">
            <div class="col-sm-4"
                 ng-if="vm.requiredFields.indexOf('date_of_loss') > -1">
                <div class="form-group"
                     ng-class="{ 'has-error': (fnolForm.dateOfLoss.$touched || fnolForm.$submitted) && fnolForm.dateOfLoss.$invalid }">
                    <label for="dateOfLoss">Date of Loss</label>
                    <div class="input-group datepicker-right">
                        <input type="text" id="dateOfLoss" name="dateOfLoss" class="form-control" required
                               placeholder="mm/dd/yyyy"
                               init-date="vm.datePickers.dateOfLoss.initDate"
                               datepicker-popup="MM/dd/yyyy"
                               min-date="vm.datePickers.dateOfLoss.minDate"
                               max-date="vm.datePickers.dateOfLoss.maxDate"
                               ng-model="vm.fnol.dateOfLoss"
                               is-open="vm.datePickers.dateOfLoss.open"
                               close-text="Close"
                               date-picker
                               dol-Min-Date="{{vm.datePickers.dateOfLoss.minDate}}"
                               dol-Max-Date="{{vm.datePickers.dateOfLoss.maxDate}}"
                               ng-readonly="!vm.fnol.risk"
                               ng-required="vm.requiredFields.indexOf('date_of_loss') > -1" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-class="{ 'btn-danger': (fnolForm.dateOfLoss.$touched || fnolForm.$submitted) && fnolForm.dateOfLoss.$invalid }"
                                    ng-click="vm.openDatePicker($event, 'dateOfLoss')"
                                    ng-disabled="!vm.fnol.risk">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <ng-messages class="help-block" role="alert" for="fnolForm.dateOfLoss.$error"
                                 ng-if="(fnolForm.dateOfLoss.$touched || fnolForm.$submitted) && fnolForm.dateOfLoss.$invalid">
                        <ng-message when="required">Date of Loss is required</ng-message>
                        <ng-message when="dolMinDate || dolMaxDate">
                            Date of Loss must be within the policy's effective period
                        </ng-message>
                    </ng-messages>
                </div>
            </div>
            <div class="col-sm-4"
                 ng-if="vm.requiredFields.indexOf('cruise_line') > -1">
                <div class="form-group"
                     ng-class="{ 'has-error': (fnolForm.isCruise.$touched || fnolForm.$submitted) && fnolForm.isCruise.$invalid }">
                    <h4>Is this trip a cruise?</h4>
                    <label class="radio-inline">
                        <input type="radio" id="isCruiseYes" name="isCruise" value="true"
                               ng-model="vm.fnol.isCruise"
                               ng-disabled="!vm.fnol.risk"
                               ng-required="vm.requiredFields.indexOf('cruise_line') > -1" />
                        Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="isCruiseNo" name="isCruise" value="false"
                               ng-model="vm.fnol.isCruise"
                               ng-disabled="!vm.fnol.risk"
                               ng-required="vm.requiredFields.indexOf('cruise_line') > -1" />
                        No
                    </label>
                    <ng-messages class="help-block" role="alert" for="fnol.isCruise.$error"
                                 ng-if="(fnolForm.isCruise.$touched || fnolForm.$submitted) && fnolForm.isCruise.$invalid">
                        <ng-message when="required">You must specify whether this trip is a cruise or not</ng-message>
                    </ng-messages>
                </div>
            </div>
        </div>
        <div class="row" ng-if="vm.canClaimFixedCoverage()">
            <div class="col-sm-4" ng-if="vm.requiredFields.indexOf('flight') > -1">
                <div class="form-group" data-ng-class="{'has-error': fnolForm.flight.$invalid && (fnolForm.$submitted || fnolForm.flight.$touched)}">
                    <label for="flight" class="control-label">Flight Segment</label>
                    <select name="flight" id="flight" class="form-control" ng-model="vm.fnol.flight" ng-change="vm.loadLocations()" required>
                        <option value="">Select a Flight Segment</option>
                        <option ng-repeat="flight in vm.claimConfig.flights track by $index" value="{{flight.id}}">
                            {{flight.displayOption}}
                        </option>
                    </select>
                    <ng-messages for="fnolForm.flight.$error" class="help-block" ng-if="fnolForm.flight.$invalid && (fnolForm.$submitted || fnolForm.flight.$touched)">
                        <ng-message when="required">Flight is required.</ng-message>
                    </ng-messages>
                </div>
            </div>
            <div class="col-sm-4" ng-if="vm.requiredFields.indexOf('location_of_loss') > -1">
                <div class="form-group" data-ng-class="{'has-error': fnolForm.locationOfLoss.$invalid && (fnolForm.$submitted || fnolForm.locationOfLoss.$touched)}">
                    <label for="locationOfLoss" class="control-label">Location of Loss</label>
                    <select name="locationOfLoss" id="locationOfLoss"
                            class="form-control" ng-model="vm.fnol.locationOfLoss"
                            ng-readonly="!vm.fnol.flight"
                            required
                            ng-change="vm.setDateOfLoss()">
                        <option value="">Choose a Location of Loss</option>
                        <option ng-if="vm.fnol.flight" ng-repeat="location in vm.locationOptions track by $index" value="{{location.id}}">
                            {{location.airportCode}}
                        </option>
                    </select>
                    <ng-messages for="fnolForm.locationOfLoss.$error" class="help-block" ng-if="fnolForm.locationOfLoss.$invalid && (fnolForm.$submitted || fnolForm.locationOfLoss.$touched)">
                        <ng-message when="required">Location of loss is required.</ng-message>
                    </ng-messages>
                </div>
            </div>
        </div>
        <div class="row" ng-if="vm.canClaimFixedCoverage()">
            <div class="col-sm-4">
                <div class="form-group"
                     ng-if="vm.requiredFields.indexOf('name_of_insured') > -1 && vm.fnol.coverage.coveredTravelers.length > 1"
                     ng-class="{'has-error': fnolForm.$submitted && vm.travelerRequired()}">
                    <h4>Affected Travelers</h4>
                    <div class="row" ng-repeat="traveler in vm.fnol.coverage.coveredTravelers track by traveler.travelerId">
                        <div class="col-sm-12">
                            <label for="{{traveler.travelerId}}" class="checkbox-inline">
                                <input type="checkbox" id="{{traveler.travelerId}}" name="{{traveler.travelerId}}"
                                       ng-model="traveler.selected"
                                       ng-disabled="!vm.fnol.risk"
                                       ng-required="vm.travelerRequired()" />
                                {{traveler.travelerName}}
                            </label>
                        </div>
                    </div>
                    <span class="help-block" ng-if="fnolForm.$submitted && vm.travelerRequired()">At least one traveler must be selected.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr style="margin-left:15px;" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <input type="button" class="btn btn-lg btn-default btn-cust-sec" value="Cancel" ng-disabled="vm.fnol.creating" ng-click="vm.cancelFnol()" style="margin-left: 3em;" />
                    <input type="submit" class="btn btn-lg btn-default btn-cust" value="Create A Claim" ng-disabled="vm.fnol.creating" />
                </div>
                <div class="form-group pull-right">
                    <label for="fraud" class="checkbox-inline" style="padding-top:20px;">
                        <input type="checkbox" id="fraud" name="fraud" ng-model="vm.fnol.fraud" />
                        I have read and understand the
                        <a href="javascript:void(0);" ng-click="vm.openFraudWarning(false)">
                            Fraud Warning
                        </a>
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div ng-if="vm.stopFnolError" style="padding-left:14px;">
    <div class="row">
        <div class="col-sm-8">
            <div class="well well-alert well-danger">
                <i class="fa fa-large fa-exclamation-circle"></i><span ng-bind="vm.errorDetails.content"></span>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.generalError">
        <div class="col-sm-8">
            <div class="pull-right">
                <input type="button" class="btn btn-lg btn-default btn-cust-sec" value="Return to Policy" ng-click="vm.cancelFnol()" />
            </div>
        </div>
    </div>
</div>


