<div ng-controller="productsController as vm">
    <div ng-show="vm.packageId == null">

        <div class="row">
            <div class="col-xs-6">
                <h2>Products</h2>
            </div>
            <div class="col-xs-push-6 pull-right link-inline">
                <a ng-href="{{$root.config.CLIENT_CONSUMER_DOMAIN}}/a/blocklists" target="_blank">View Blocked Providers</a>
            </div>
        </div>


        <div class="row product">
            <div class="col-md-6 col-sm-6" ng-repeat="package in vm.packages" ng-if="package.canSell" style="margin-bottom:20px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th ng-if="package.hasDetails" colspan="3" class="product-title">
                                <a data-placement="bottom" href="javascript:void(0);" style="color:white;text-decoration:none;" title="Purchase {{package.name}}" data-ng-click="vm.selectPackage(package)">
                                    {{package.name}}&nbsp;<span style="font-size:15px;">{{package.subTitle}}</span>
                                </a>
                            </th>
                            <th ng-if="!package.hasDetails" colspan="2" class="product-title">
                                <a data-placement="bottom" href="javascript:void(0);" style="color:white;text-decoration:none;" title="Purchase {{package.name}}" data-ng-click="vm.selectPackage(package)">
                                    {{package.name}}&nbsp;<span style="font-size:15px;">{{package.subTitle}}</span>
                                </a>
                            </th>
                        </tr>
                        <tr class="table-header product-section">
                            <th class="product-content">Feature</th>
                            <th class="product-content">Benefit</th>
                            <th class="product-content" ng-if="package.hasDetails">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="coverage in package.coverageDescriptions">
                            <td class="product-content">{{coverage.feature}}</td>
                            <td class="product-content">{{coverage.benefit}}</td>
                            <td class="product-content" ng-if="coverage.detail!=null">{{coverage.detail}}</td>
                        </tr>
                        <tr ng-repeat="coverage in package.optionalCoverageDescriptions">
                            <td colspan="2">{{coverage.feature}}  {{coverage.benefit}} {{coverage.detail}}</td>
                        </tr>
                        <tr>
                            <td ng-if="package.hasDetails" colspan="3" class="text-center">
                                <button data-toggle="tooltip" data-placement="bottom" title="Purchase {{package.name}}" class="btn btn-lg btn-primary btn-cust" type="button" data-ng-click="vm.selectPackage(package)">
                                    Purchase
                                </button>
                            </td>
                            <td ng-if="!package.hasDetails" colspan="2" class="text-center">
                                <button data-toggle="tooltip" data-placement="bottom" title="Purchase {{package.name}}" class="btn btn-lg btn-primary btn-cust" type="button" data-ng-click="vm.selectPackage(package)">
                                    Purchase
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a ng-href="{{$root.config.CLIENT_AGENT_GUIDE}}" target="_blank"><i class="fa fa-file-pdf-o">&nbsp; View Agent Guide</i></a>
            </div>
        </div>
    </div>
</div>


