<div>
    <h2>Select a Plan</h2>
    <h5>Start a quote to view state specific coverages</h5>
    <div class="pct-package-breakdown">
        <table class="table table-responsive" cellspacing="0" cellpadding="0"
               ng-class="{'single-package': vm.packageRatingIds.length === 1, 'two-packages': vm.packageRatingIds.length === 2}">
            <thead>
                <tr class="package-breakdown-head">
                    <td id="send-quick-quote-data">
                        <button id="send-quick-quote" class="btn btn-lg btn-default btn-cust center" type="button" ng-click="vm.sendQuickQuote()">Send Quick Quote</button>
                    </td>
                    <td ng-repeat="packageName in vm.packageRatingIds track by $index">
                        <button type="button" id="btn_top_continue_{{vm.packageMaps[packageName].package.ratingId}}" class="btn btn-lg btn-default btn-cust"
                                ng-click="vm.buyPackage(vm.packageMaps[packageName].package.ratingId)"
                                ng-disabled="vm.packageMaps[packageName].package.states[vm.selectedState].canSell === false">
                            Continue
                        </button>
                        <hr />
                        <div class="package-breakdown-title">
                            <h4><strong>{{vm.packageMaps[packageName].package.name}}</strong></h4>
                            <h5 ng-if="vm.packageMaps[packageName].package.subTitle">{{vm.packageMaps[packageName].package.subTitle | iif : vm.packageMaps[packageName].package.subTitle : '&nbsp;'}}</h5>
                        </div>
                        <h6 class="" ng-if="vm.showPremium">{{vm.packageMaps[packageName].totalPrice| currency}}</h6>
                        <span ng-if="vm.shouldShowMaxFlights(vm.packageMaps[packageName])" class="max-flights">
                            Covers up to {{vm.packageMaps[packageName].package.configuration.maximumNumberFlightsTotal}} flights
                        </span>
                        <div class="package-breakdown-link">
                            <coverage-modal-link [product]="vm.getPackageDetails(packageName)" [was-purchased]="false" [show-doc-link]="true">
                                View Details
                            </coverage-modal-link>
                        </div>
                        <div ng-if="vm.selectedState">
                            <span ng-if="vm.packageMaps[packageName].package.states[vm.selectedState].canSell === false">{{vm.packageMaps[packageName].package.name}} is not yet available in {{vm.selectedState}}</span>
                        </div>
                        <h2 ng-if="vm.packageMaps[packageName].package.premium" class="brand-primary">{{vm.packageMaps[packageName].package.premium | currency}} <h4 ng-if="vm.packageMaps[packageName].package.points">(Or {{vm.packageMaps[packageName].package.points}} {{vm.pointShortLabel}})</h4></h2>
                        <h4 ng-if="vm.packageMaps[packageName].package.validationFailed === true">
                            <a href="javascript:void(0);"
                               popover-html="'{{vm.packageMaps[packageName].package.errorFields}}'"
                               popover-title="Missing or invalid fields"
                               popover-trigger="focus">
                                <i class="fa fa-question-circle brand-primary"></i>
                            </a>Additional information required to quote
                        </h4>
                    </td>
                </tr>
            </thead>
            <tbody class="blur-filter" ng-class="{ 'blur-out': vm.quoting, 'blur-in': !vm.quoting }" ng-repeat="(coverageGroup, coverageGroups) in vm.coverageGroups">
                <tr>
                    <td class="package-breakdown-displaygroup" colspan="{{vm.packageRatingIds.length + 1}}">{{coverageGroup}}</td>
                </tr>
                <tr ng-repeat="coverage in coverageGroups.coverages track by $index" class="covGroup">
                    <td><span>{{coverage}}</span>
                        <span class="mc-notice" ng-if="coverage === 'Missed Connection'">Minimum connection times may apply. See product for details.</span>
                    </td>
                    <td ng-class="{ 'package-breakdown-optionalcoverage': vm.packageMaps[packageName].coverages[coverage].type.toLowerCase() === 'upgrade', 'coverage-upgrade-hover': (vm.hoverUpgrade[coverage][$index] === true && vm.packageMaps[packageName].coverages[coverage].hasUpgrade && vm.packageMaps[packageName].coverages[coverage].type.toLowerCase() !== 'upgrade') || (vm.clickUpgrade[coverage][$index] === true && vm.packageMaps[packageName].coverages[coverage].hasUpgrade && vm.packageMaps[packageName].coverages[coverage].type.toLowerCase() !== 'upgrade')}"
                        ng-repeat="packageName in vm.packageRatingIds track by $index"
                        ng-mouseleave="vm.hoverUpgrade[coverage][$index] = false"
                        ng-mouseover="vm.hoverUpgrade[coverage][$index] = true"
                        ng-click="vm.clickUpgrade[coverage][$index] = !vm.clickUpgrade[coverage][$index]">
                        <span ng-class="{'coverage-upgrade col-sm-10': vm.packageMaps[packageName].coverages[coverage].limit && vm.packageMaps[packageName].coverages[coverage].hasUpgrade === true &&  vm.packageMaps[packageName].coverages[coverage].type.toLowerCase() !== 'upgrade'}"
                              ng-if="(!vm.hoverUpgrade[coverage][$index] && !vm.clickUpgrade[coverage][$index]) || !vm.packageMaps[packageName].coverages[coverage].hasUpgrade || vm.packageMaps[packageName].coverages[coverage].type.toLowerCase() === 'upgrade'">
                            {{vm.packageMaps[packageName].coverages[coverage].limit | iif : vm.packageMaps[packageName].coverages[coverage].limit : '---'}}
                        </span>
                        <span ng-if="(vm.hoverUpgrade[coverage][$index] || vm.clickUpgrade[coverage][$index]) && vm.packageMaps[packageName].coverages[coverage].hasUpgrade === true &&  vm.packageMaps[packageName].coverages[coverage].type.toLowerCase() !== 'upgrade'">
                            Upgrade up to an additional {{vm.packageMaps[packageName].coverages[coverage].upgradeLimit | currency:"$":0}}
                        </span>
                        <span ng-if="vm.packageMaps[packageName].coverages[coverage].hasUpgrade && vm.packageMaps[packageName].coverages[coverage].type.toLowerCase() !== 'upgrade' && !vm.hoverUpgrade[coverage][$index] && !vm.clickUpgrade[coverage][$index]"
                              class="icon-align-grid">
                            <i class="fa fa-chevron-circle-up coverage-upgrade"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="package-breakdown-coveragelabels">
                        <div class="package-breakdown-optionalcoverage">&nbsp;</div>
                        <p class="form-info form-blue">Denotes optional coverage, not included in package premium.</p>
                        <div class="package-breakdown-includedcoverage">&nbsp;</div>
                        <p class="form-info form-blue">Denotes a coverage that is included in the package premium and can be increased at an additional cost.</p>
                        <p class="form-info form-blue">
                            Benefits and coverages displayed may not be final, as certain benefits are based on the state of residence. 
                            Benefits for your specific itinerary will appear after the Quick Quote is completed.
                        </p>
                        <p class="form-info form-blue">
                            Policy coverage and available benefits will vary based on state of residency and the initial deposit date. The early purchase benefits described above may not be available with your initial deposit date.  Please refer to your policy of insurance for your specific coverage.
                        </p>
                    </td>
                    <td class="package-breakdown-foot" ng-repeat="packageName in vm.packageRatingIds track by $index">
                        <button type="button" class="btn btn-lg btn-default btn-cust"
                                ng-click="vm.buyPackage(vm.packageMaps[packageName].package.ratingId)"
                                ng-disabled="vm.packageMaps[packageName].package.states[vm.selectedState].canSell === false">
                            Continue
                        </button>
                        <hr />
                        <div class="package-breakdown-title">
                            <h4 class=""><strong>{{vm.packageMaps[packageName].package.name}}</strong></h4>
                            <h5 class="" ng-if="vm.packageMaps[packageName].package.subTitle">{{vm.packageMaps[packageName].package.subTitle | iif : vm.packageMaps[packageName].package.subTitle : '&nbsp;'}}</h5>
                        </div>
                        <h6 class="" ng-if="vm.showPremium">{{vm.packageMaps[packageName].totalPrice| currency}}</h6>
                        <div class="package-breakdown-link">
                            <a class="package-breakdown-doc" target="_blank"
                               ng-if="vm.quoteMaps[packageName].docLink"
                               ng-href="{{vm.quoteMaps[packageName].docLink}}">
                                Description of Coverage
                            </a>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <hr />
</div>