<div class="row">
    <h3 ng-if="!vm.packages || vm.packages.length === 0" class="col-xs-12">
        {{vm.pleaseSelectMessage}}
    </h3>
    <h3 ng-if="vm.packages && vm.packages.length > 0" class="col-xs-12">
        {{vm.productsAvailableInMessage}}
    </h3>
    <div class="col-xs-6 col-md-3 pkgplaceholders-container" 
            ng-repeat="package in vm.packages track by $index" 
            ng-if="package.hasAgreement && package.canSell">
        <a href="javascript:void(0);" class="thumbnail pkgplaceholders" ng-click="vm.buyPackage(package)">
            <div class="package-icon {{ package.iconCssClass }}"></div>
            <span class="kpi-section">{{package.displayName}}</span>
            <div ng-if="package.displayNameSubtitle">
                <span>{{package.displayNameSubtitle}}</span>
            </div>
        </a>
    </div>
<hr ng-if="vm.packages && vm.packages.length > 0" />
</div>