<div id="send-quote-modal" class="panel-primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header modal-heading">
        <button type="button" class="close" aria-hidden="true" data-ng-click="vm.close()">&times;</button>
        <h4 class="modal-title">{{vm.title}}</h4>
    </div>
    <form name="sendQuoteForm" id="sendQuoteForm" class="form-horizontal" novalidate ng-submit="sendQuoteForm.$valid && sendQuote()">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 header-info">
                    {{vm.message}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 header-info">
                    {{vm.quoteNumbers}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button name="no" type="button" class="btn btn-lg btn-default btn-cust-sec" data-ng-click="vm.close()">No</button>
            <button name="yes" type="button" class="btn btn-lg btn-primary btn-cust" data-ng-click="vm.confirmDecision()">Yes</button>
        </div>
    </form>
</div>